<!-- START DSP - prod_summary.html -->
	<h2>A&amp;D D.S.P/T.N.G Measurement and Control Systems</h2>
	<div style="min-height: 250px;">
    <div style="float:right; padding: 0 3.5% 0 20px;">
    	<img src="{prod_img_path}/dsp-tng/and4820and.jpg" alt="AD4820 Flyer" width="500" height="250" border="0"/>
    </div>
   	<p style="padding: 10px 20px 5px 10px">
      <font color="blue">T</font>he <font color="blue">N</font>ew <font color="blue">G</font>eneration of DSP equipment was designed specifically for the Programmable Measurement and Control System markets.
    </p>
    <p style="padding: 0px 20px 10px 10px">
      A&amp;D Mercury has a range of models to choose from, with a full compliment of option cards available to suit the requirements and needs of many different industries.
      The AD4820 utlises a SH4 7750R 32 Bit RISC processor, running a real time OS, RT Linux.
      The 4820 is programmed using Machine Ladder &amp; Virtual Console via a 10 Base-T Ethernet port, the AD4820 can handle 256 I/O.
  	</p>
  </div>
  <div style="width: 99%;">
    <div class="product_column">
      {product_list}
    </div>
	</div>
<!-- END DSP - prod_summary.html -->