<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject: - AD4325V Instruction Manual</u></b> </p>

<table border="2">
  <tr>
    <td>Please note that version 4.b of this instruction manual shows incorrect wiring on page
    H-8 in the lower drawing titled `Example of Cable Connection&#148;. <p>The correct wiring
    is shown below. </p>
    <p>ADC will be issuing an updated version in due course. </p>
    <p><img src="../images/AD4325_22%20WIRING.gif" width="459" height="327"></td>
  </tr>
</table>

</div>
