<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject AD-4401 Digital Indicator/Controller</u></b> </p>

<table border="2">
  <tr>
    <td>Please note that there is an error in the Instruction Manual version 1073-1A-1E.</td>
  </tr>
  <tr>
    <td>The table of `Control I/O Output Related Functions' on page 90 shows the incorrect
    functions for values set of 2 to 6 inclusive. <br>
    The correct settings and descriptions are shown on page 61 of the same manual. </td>
  </tr>
  <tr>
    <td>Please amend the table on page 90 so that the column headed `Parameter' reads as shown
    below:</td>
  </tr>
  <tr>
    <td><p align="center">0 </p>
    <p align="center">1 </p>
    <p align="center"><strike>2 </strike>4 </p>
    <p align="center"><strike>3</strike> 5 </p>
    <p align="center"><strike>4 </strike>6 </p>
    <p align="center"><strike>5</strike> 3 </p>
    <p align="center"><strike>6</strike> 2 </p>
    <p align="center">7 </p>
    <p align="center">8 </p>
    <p align="center">etc </td>
  </tr>
</table>

</div>
