<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject AD-4531 Digital Indicator</u></b> </p>

<p>The method of setting the mains transformer tappings to 120 volt working is not shown <br>
clearly in the technical information. </p>

<p>The table below should be used to set the AD-4531 mains input tapping. </p>

<table border="1" width="50%">
  <tr>
    <td align="center" valign="top"><b>240 Volt</b></td>
    <td align="center" valign="top"><b>Terminal</b></td>
    <td align="center" valign="top"><b>Wire Colour</b></td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT1</td>
    <td align="center" valign="top">-</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT2</td>
    <td align="center" valign="top">WHITE</td>
  </tr>
  <tr>
    <td align="center" valign="top">`</td>
    <td align="center" valign="top">TT3</td>
    <td align="center" valign="top">VIOLET</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT4</td>
    <td align="center" valign="top">GREY</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT5</td>
    <td align="center" valign="top">-</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT6</td>
    <td align="center" valign="top">ORANGE</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT7</td>
    <td align="center" valign="top">BROWN</td>
  </tr>
  <tr>
    <td align="center" valign="top"><b>110/120 Volt</b></td>
    <td align="center" valign="top"><b>Terminal</b></td>
    <td align="center" valign="top"><b>Wire Colour</b></td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT1</td>
    <td align="center" valign="top">VIOLET</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT2</td>
    <td align="center" valign="top">-</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT3</td>
    <td align="center" valign="top">-</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT4</td>
    <td align="center" valign="top">GREY</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT5</td>
    <td align="center" valign="top">WHITE</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT6</td>
    <td align="center" valign="top">ORANGE</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT7</td>
    <td align="center" valign="top">BROWN</td>
  </tr>
  <tr>
    <td align="center" valign="top"><b>100 Volt</b></td>
    <td align="center" valign="top"><b>Terminal</b></td>
    <td align="center" valign="top"><b>Wire Colour</b></td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT1</td>
    <td align="center" valign="top">VIOLET</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT2</td>
    <td align="center" valign="top">-</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT3</td>
    <td align="center" valign="top">-</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT4</td>
    <td align="center" valign="top">ORANGE</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT5</td>
    <td align="center" valign="top">BROWN</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT6</td>
    <td align="center" valign="top">GREY</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
    <td align="center" valign="top">TT7</td>
    <td align="center" valign="top">WHITE</td>
  </tr>
</table>

</div>
