<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject: Addendum to AD4531 Instruction Manual v.1.a `93.10.22</u></b> </p>

<table border="2">
  <tr>
    <td><b>Design Change for Improvement - Description</b></td>
    <td>The software for this indicator has been improved to give additional features to allow
    use in multiple ingredient batching systems. The improvement changes the operation of the
    HOLD button so that it functions as a TARE button and gives a 100% tare capability. The
    software can be made to revert back to the original operation by the removal of a soldered
    link on the A/D convertor printed circuit board. Alternatively the improved software can
    be activated by replacing the soldered link. </td>
  </tr>
</table>

</div>
