<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject AD-4531 Digital Indicator</u></b> <b><u>- Option OP-07 fitting</u></b> </p>

<table border="2">
  <tr>
    <td>&nbsp;</td>
    <td>Please note that the analogue option OP-07 is regarded by ADC as a factory fitted only
    option. I am sure this is not a practical method for most of our dealers so I have
    obtained the fitting and set up instructions for this option.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><b>Installation of OP-07 to the AD-4531</b> </td>
  </tr>
  <tr>
    <td>1.</td>
    <td>Connect the OP-07 to J3 on the lower p.c.b. Looking from the front of the unit J3 is
    located on the left.</td>
  </tr>
  <tr>
    <td>2.</td>
    <td>Screw through the p.c.b. into the support post of the option </td>
  </tr>
  <tr>
    <td>3. </td>
    <td>Set switch S1 to ON. Looking from the front of the unit S1 should be switched to the
    right. </td>
  </tr>
  <tr>
    <td>4. </td>
    <td>Cut the connection JP1, which is situated to the right of SW1.</td>
  </tr>
  <tr>
    <td>5.</td>
    <td>Remove the 2 rear panels and connect them direct to the p.c.b.s. </td>
  </tr>
  <tr>
    <td>6.</td>
    <td>Connect a precision 100 ohm resistor across pins 15 and 16 and inject an 8 V DC supply
    as shown in the circuit below.<p>&nbsp;</p>
    <p align="center"><img src="../images/4531op07.gif" width="232" height="118"></p>
    <p align="center"><font color="#FFFFFF">..............</font><b>8V DC</b> </td>
  </tr>
  <tr>
    <td>7.</td>
    <td>Activate the Check Mode F16 07.</td>
  </tr>
  <tr>
    <td>8.</td>
    <td>Press ENTER while the ROM version is displayed.</td>
  </tr>
  <tr>
    <td>9.</td>
    <td>The display will toggle between 0 and 2 when the UP arrow is pressed.</td>
  </tr>
  <tr>
    <td>10.</td>
    <td>When 0 is displayed use VR2 to set 0.4V ± 0.4mV across the resistor. </td>
  </tr>
  <tr>
    <td>11.</td>
    <td>When 2 is displayed use VR1 to set 2.0V ± 0.4mV across the resistor. </td>
  </tr>
  <tr>
    <td>12.</td>
    <td>Re-assemble the unit and set up OP-07 as detailed in the Instruction Manual. </td>
  </tr>
</table>

</div>
