<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject - `C' Tick</u></b> </p>

<table border="2">
  <tr>
    <td>&nbsp;</td>
    <td>There have been an increasing number of enquiries from our dealers concerning the
    impact of the EMC compatibility framework and `C' tick. It would seem that many dealers
    have little or no knowledge of this subject and are rightly concerned about the affect of
    the regulations on our business. To assist in the understanding of our responsibilities I
    outline below some of the relevant matters. I would stress that each of our dealers should
    take steps to arm themselves with the various official publications and that they should
    use the services of their local offices to clarify any areas of doubt that they may have.</td>
  </tr>
  <tr>
    <td><b>General</b> </td>
    <td>The Australian EMC Framework was established to provide a basic level of protection
    from interference to the radio frequency spectrum in Australia. Fundamental to the
    framework is the principle of industry self regulation which places responsibility on the
    Australian supplier for the products placed on the market.</td>
  </tr>
  <tr>
    <td><b>Standards</b> </td>
    <td>The EMC Framework is based upon a set of standards, made into law by the Spectrum
    Management Agency (SMA), that have been adapted from international standards. The
    standards applying to our industry are AS/NZS 2064.1/2 ; AS/NZS 3458 &amp; AS/NZS 4251.1 </td>
  </tr>
  <tr>
    <td><b>Suppliers Responsibility</b> </td>
    <td>Under the EMC Framework it is the responsibility of suppliers - manufacturers or
    product importers - to ensure that products placed on the Australian market satisfy the
    technical requirements of the EMC Framework. <p>Suppliers must satisfy 4 basic
    requirements under the EMC Framework: </p>
    <p>They must: </p>
    <p>Establish sound technical grounds for product compliance; </p>
    <p>Make and hold a Declaration of Conformity; </p>
    <p>Prepare and keep a Compliance Folder</p>
    <p>Label the product as directed. </p>
    <p>Once these basic requirements have been satisfied a product can be offered for sale. </td>
  </tr>
  <tr>
    <td><b>'C' Tick mark</b> </td>
    <td>The `C'-Tick is a trademark registered by the SMA and application to use the `C'-Tick
    must be made to the SMA. An application form can be obtained from: <p>The Manager </p>
    <p>Radiocommunications Standards </p>
    <p>Spectrum Management Agency </p>
    <p>PO Box 78, BELCONNEN ACT 2616. </p>
    <p>or from your local SMA office. </td>
  </tr>
  <tr>
    <td><b>Further Reading</b> </td>
    <td><u>Obtained from your local SMA office</u> <p>`Electromagnetic Compatibility Framework
    - Information for Australian Suppliers.' </p>
    <p><u>Obtained from your local Australian Standards office.</u> </p>
    <p>AS/NZS 2064.1/2 - &#147;Industrial, scientific and medical equipment&#148;. </p>
    <p>AS/NZS 3548 </p>
    <p>AS/NZS 4251.1 </td>
  </tr>
  <tr>
    <td><a href="marketin.asp"><img src="../images/Index%20arrow.gif" border="0" width="52"
    height="31"></a></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><b>SMA Office Addresses</b></td>
    <td><b>Adelaide</b> Area Office - 10~20 Pulteney Street, Adelaide SA 5000 <p>Telephone:
    (08) 8237 6333 Fax: (08) 8228 6877 </p>
    <p><b>Brisbane</b> Area Office - 424 Upper Roma Street, Brisbane QLD 4001 </p>
    <p>Telephone: (07) 3238 6322 Fax: (07) 3236 1237 </p>
    <p><b>Cairns</b> Area Office - 1st Floor Cairns Commonwealth Centre, 107 Lake Street,
    Cairns QLD 4870 </p>
    <p>Telephone: (070) 31 4266 Fax: (070) 52 3737 </p>
    <p><b>Canberra</b> Area Office - Benjamin Offices Purple, Chan Street, Belconnen ACT 2617 </p>
    <p>Telephone: (06) 256 5577 Fax: (06) 256 5566 </p>
    <p><b>Coffs Harbour</b> Area Office - 26 Gordon Street, Coffs Harbour NSW 2450 </p>
    <p>Telephone: (066) 51 5452 Fax: (066) 51 5783 </p>
    <p><b>Darwin</b> Area Office - 7th Floor, Darwin Plaza, 41 The Mall, Darwin NT 0801 </p>
    <p>Telephone: (08) 8941 0366 Fax: (08) 8981 7220 </p>
    <p><b>Hobart</b> Area Office - 4th Floor, 147 Macquarie Street, Hobart TAS 7000 </p>
    <p>Telephone: (03) 6223 5664 Fax: (03) 6223 7969 </p>
    <p><b>Melbourne</b> Area Office - Building 3, 3rd Floor, 6 Riverside Quay, South Melbourne
    VIC 3205 </p>
    <p>Telephone: (03)9685 3555 Fax: (03) 9684 3500 </p>
    <p><b>Newcastle</b> Area Office - Suite 1B, 239 King Street, Newcastle NSW 2300 </p>
    <p>Telephone: (049) 29 6899 Fax: (049) 29 6068 </p>
    <p><b>Perth</b> Area office - 12th Floor, Septimus Roe Square, 256 Adelaide Terrace, Perth
    WA 6000 </p>
    <p>Telephone: (08) 9323 1717 Fax: (08) 9221 1671 </p>
    <p><b>Rockhampton</b> Area Office - Level 3, Rockhampton Commonwealth Centre, Cnr. East
    &amp; Fitzroy Streets, Rockhampton QLD 4700 </p>
    <p>Telephone: (079) 22 2312 Fax: (079) 27 5346 </p>
    <p><b>Sydney</b> Area Office - Victoria Cross Building, 60 Miller Street, North Sydney NSW
    2060 </p>
    <p>Telephone: (02) 9922 9111 Fax: (02) 9922 7351 </p>
    <p><b>Townsville</b> Area Office - Level 1 Breakwater Marine, The Strand, Townsville QLD
    5410 </p>
    <p>Telephone: (077) 72 2977 Fax: (077) 72 6474 </td>
  </tr>
  <tr>
    <td><b>Internet Page</b></td>
    <td>The SMA have a presence on the internet at <a href="http://www.aca.gov.au">http://www.aca.gov.au</a>
    where a wealth of information is stored. Use the search facility to locate documents with
    `C'-Tick in the text and you will be able to check out details at your leisure. </td>
  </tr>
</table>

</div>
