<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject - EK-G Balances</u></b> </p>

<table border="2">
  <tr>
    <td>Please note that early versions of this balance have a problem with data communication
    when using a serial data option. The effect is that the balance will turn itself OFF
    during data communication after a random period of around 30~40 seconds. The balance works
    quite normally in a stand alone situation. The offending software version is identified as
    P-2.00 or earlier and the fault was corrected in version P-2.10 or later. To check the
    software version of an EK-G balance simply hold the CAL switch depressed while turning on
    the balance. </td>
  </tr>
</table>

<p>&nbsp;</p>

</div>
