<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject - EK-G Portable Balance - Software version P2.11</u></b> </p>

<table border="2">
  <tr>
    <td>&nbsp;</td>
    <td>Please note that the software has been updated in this balance to version P2.11 but
    the Instruction Manual has not yet been revised.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>The change is the addition of function settings to enable/disable the Zero Tracking of
    the instrument. </td>
  </tr>
  <tr>
    <td><b>Function F1</b></td>
    <td>now has these settings: </td>
  </tr>
  <tr>
    <td><p align="right">F1=0</td>
    <td>The Auto Power Off is not used &amp; Zero Tracking is ON</td>
  </tr>
  <tr>
    <td><p align="right">F1=1</td>
    <td>The Auto Power Off is used &amp; Zero Tracking is ON</td>
  </tr>
  <tr>
    <td><p align="right">F1=2</td>
    <td>The Auto Power Off is not used &amp; Zero Tracking is OFF</td>
  </tr>
  <tr>
    <td><p align="right">F1=3</td>
    <td>The Auto Power Off is used &amp; Zero Tracking is OFF </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>If the Zero Tracking is enabled it will track Gross and Net zeros.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>To check the software version fitted to any balance start with the balance Off, press
    and hold the Cal button and then turn the balance On. The software version will be
    displayed.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>The ability to disable the Zero Tracking is useful when weighing in small increments
    such as adding dyes to a liquid, slowly adding powders to a formula etc. Without this
    feature a balance may simply zero track the additions and display incorrect results. </td>
  </tr>
</table>

</div>
