<div class="content">
<font FACE="Century Gothic" SIZE="6">

<p ALIGN="CENTER">Marketing Tip</p>
</font><font FACE="Century Gothic">

<p>&nbsp;</p>
<u><b>

<p>Subject HW-G Series Industrial Scale</p>
</b></u>

<p>The HW-200KGL makes an excellent person weigher by utilising the features of 'people
weighing' and 'display hold'. </p>

<p>By setting the following F-Functions the scale will average out weight readings to
remove inaccuracies caused by movement of the person being weighed and will then hold, or
freeze, on a stable weight until the weight changes by more than 25%.</p>

<p>F-Function <b>F12</b> - set this to value <b>2</b> [The display will hold on stable
weight]</p>

<p>F-Function <b>F13</b> - set this to value <b>1</b> [Sets the filtering to people
weighing]</p>

<p>In use a person simply steps onto the platform, waits until the display freezes and can
then read a stable weight. The scale automatically returns to zero when the person has
stepped off the platform.</p>

<p>With these excellent features the HW-G series replaces the CH-150KP and has the
advantage of better performance and greater capacity.</p>

<p>Regards,</p>

<p><img SRC="Image5.gif" WIDTH="113" HEIGHT="42"></p>

<p>Peter Harman</p>

<p>(Customer Service Manager)</p>

<p>&nbsp;</p>
</font>
</div>
