<div class="content">

<h1 align="center">Marketing Tips Index</h1>
<div align="center"><center>

<table border="2">
  <tr>
    <td><strong>Equipment</strong></td>
    <td><strong>Subject</strong></td>
    <td><strong>Date</strong></td>
  </tr>
  <tr>
    <td><a href="ad4323.asp">AD4323DR</a></td>
    <td>Function Settings &amp; Calibration</td>
    <td>22/01/99</td>
  </tr>
  <tr>
    <td><a href="ek-g_1.asp">EK-G Series</a></td>
    <td>Software version P2.11 Zero Track Control</td>
    <td>22/01/99</td>
  </tr>
  <tr>
    <td><a href="c_tick.asp">'C' Tick</a></td>
    <td>Explanation of responsibilities</td>
    <td>20/01/99</td>
  </tr>
  <tr>
    <td><a href="ad4531_1.asp">AD-4531</a></td>
    <td>Mains transformer tappings</td>
    <td>17/12/98</td>
  </tr>
  <tr>
    <td><a href="moisture.asp">Moisture Balances</a></td>
    <td>Brochure error</td>
    <td>8/12/99</td>
  </tr>
  <tr>
    <td><a href="ad4531_2.asp">AD-4531</a></td>
    <td>Option 7 fitting</td>
    <td>4/05/98</td>
  </tr>
  <tr>
    <td><a href="ad4401_1.asp">AD-4401</a></td>
    <td>Data accumulation settings caution</td>
    <td>4/05/98</td>
  </tr>
  <tr>
    <td><a href="ad4401.asp">AD-4401</a></td>
    <td>Control I/O instruction manual error</td>
    <td>19/02/98</td>
  </tr>
  <tr>
    <td><a href="ek-g.asp">EK-G</a></td>
    <td>Data communication - early versions</td>
    <td>30/01/98</td>
  </tr>
  <tr>
    <td><a href="ad4531.asp">AD-4531</a></td>
    <td>Addendum to Instruction Manual re Hold</td>
    <td>10/12/97</td>
  </tr>
  <tr>
    <td><a href="ad4325_1.asp">AD-4325V</a></td>
    <td>RS422/485 wiring - error in manual</td>
    <td>28/11/97</td>
  </tr>
  <tr>
    <td><a href="sfsgunit.asp">SF/SG</a></td>
    <td>Unit Price Hold</td>
    <td>13/04/99</td>
  </tr>
  <tr>
    <td><a href="sfsg.asp">SF/SG</a></td>
    <td>Calibration Lockout</td>
    <td>9/02/99</td>
  </tr>
  <tr>
    <td><a href="HW-200KGL%20person%20weigher.asp">HW-200KGL</a></td>
    <td>Setting for person weighing</td>
    <td>14/06/2000</td>
  </tr>
</table>
</center></div>

</div>
