<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject - Moisture Balances Brochure</u></b> </p>

<table border="2">
  <tr>
    <td>Please note that the table on the rear of the combined moisture balances brochure is
    in error in the &#147;Time Setting&#148; section under the AD-4714A column. <br>
    The AD-4714A does <b>not</b> have &#147;Auto-stop&#148; so this comment should be deleted
    before sending out brochures to your clients. </td>
  </tr>
</table>

<p>&nbsp;</p>

</div>
