<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject - SF/SG - Unit Price Hold</u></b></p>

<table border="2">
  <tr>
    <td>&nbsp;</td>
    <td>Please take note that the SF/SG series do have a Unit Price HOLD facility. It is not
    obvious that this facility exists unless you fully study the Function settings on page 11
    of the Instruction Manual version 1.1.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Function F2 - Cancellation of unit price is the secret. </td>
  </tr>
  <tr>
    <td>Set this to value 0 (Selectable)</td>
    <td>The unit price can be held or cancelled by pressing the CHANGE key to select the
    required mode.</td>
  </tr>
  <tr>
    <td>Set this to value 1</td>
    <td>The unit price is held until either a new price is entered or the power is turned off.</td>
  </tr>
  <tr>
    <td>Set this to a value 2</td>
    <td>The unit price will always be cancelled </td>
  </tr>
</table>

<p><a href="marketin.asp"><img src="../images/Index%20arrow.gif" border="0" WIDTH="52"
HEIGHT="31"></a></p>

<p>&nbsp;</p>

</div>
