<div class="content">

<h1>Marketing Tip </h1>

<p><b><u>Subject - Year 2000 Compliance</u></b> </p>

<p>There are 3 distinct types of problem that may be faced in the year 2000:- </p>

<p>1. If the product is keeping track of the year only by use of the lower two digits,
then in the year <br>
2000 A.D. a <b>calculation</b> made in connection with the date may be in <b>error</b>. </p>

<p>2. If the product is keeping track of the year only by the two lower digits then the
higher digits <br>
are automatically set to `19' and the <b>date cannot change to 2000 A.D.</b> </p>

<p>3. The year 2000 A.D. is a leap year but the product<b> cannot set February 29th.</b> </p>

<p>None of the A&amp;D products that use a clock function carry out calculations based
upon the date so <br>
problem 1 is not relevant. </p>

<p>All of the company's products have been examined to establish the type of clock circuit
used in t<br>
hose that have a clock function. The use of these in the different types of device is
explained. </p>

<p><b>Type A</b> </p>

<p>There is no year in the clock function and the year is set by the user. Since the leap
year is <br>
not considered in this function (there is no year in the calendar function so it cannot
set a leap year)<br>
the next day to February 28th is March 1st, but it is possible for the user to set
Febraury 29th. <br>
Similarly it is possible to set the year 2000, but the input and the printing are set only
by the two <br>
lower digits. The products that have this type of clock function may have one of two IC
types. <br>
The UC:D1990C, which does not have a year function or the UC:D4990C, used as a replacement
<br>
for the UC:D1990C, which does have the year function but the product does not use it. </p>

<p><b>Type B</b> </p>

<p>The calendar function in these products uses an IC with a year function, UC:62421A or <br>
UC:62423A, but the year is only tracked by the lower two digits. Thus it automatically <br>
keeps track of the year and the leap year. The year 00 is a leap year. The display and <br>
printing of the year is only two digits thus the day after 31/12/99 is 01/01/00. </p>

<p><b>Type C</b> </p>

<p>These products use the same type of IC as case Type B above and the IC is programmed <br>
to keep track of changing the year from 1999 A.D. to the year 2000 A.D. There is no
problem <br>
with these type of products. </p>

<p><b><u>Summary of Products with Clock Function </u></b></p>

<table border="1">
  <tr>
    <td valign="top"><b>Model</b></td>
    <td valign="top"><b>Type</b></td>
    <td valign="top"><b>IC Used</b></td>
    <td valign="top"><b>Problem type</b></td>
  </tr>
  <tr>
    <td valign="top">AD4322-OP-09</td>
    <td valign="top">Indicator</td>
    <td valign="top">UC:62421A</td>
    <td valign="top">C(Year 1980~2079)</td>
  </tr>
  <tr>
    <td valign="top">AD4335</td>
    <td valign="top">Controller</td>
    <td valign="top">UC:D4990C</td>
    <td valign="top">A</td>
  </tr>
  <tr>
    <td valign="top">AD4347</td>
    <td valign="top">Truck Scale</td>
    <td valign="top">UC:62421A</td>
    <td valign="top">B</td>
  </tr>
  <tr>
    <td valign="top">AD4348</td>
    <td valign="top">Truck Scale</td>
    <td valign="top">UC:62421A</td>
    <td valign="top">B</td>
  </tr>
  <tr>
    <td valign="top">AD4944</td>
    <td valign="top">Checker</td>
    <td valign="top">UC:62421A</td>
    <td valign="top">C(Year 1990~2089)</td>
  </tr>
  <tr>
    <td valign="top">AD8115</td>
    <td valign="top">Printer</td>
    <td valign="top">UC:D4990C</td>
    <td valign="top">A</td>
  </tr>
  <tr>
    <td valign="top">AD8118</td>
    <td valign="top">Printer</td>
    <td valign="top">UC:62421A</td>
    <td valign="top">B</td>
  </tr>
  <tr>
    <td valign="top">AD8119</td>
    <td valign="top">Printer</td>
    <td valign="top">UC:62421A</td>
    <td valign="top">B</td>
  </tr>
  <tr>
    <td valign="top">AD8121</td>
    <td valign="top">Printer</td>
    <td valign="top">&nbsp;</td>
    <td valign="top">A(Year is automatically changed)</td>
  </tr>
  <tr>
    <td valign="top">FR Series</td>
    <td valign="top">Balance</td>
    <td valign="top">&nbsp;</td>
    <td valign="top">A</td>
  </tr>
  <tr>
    <td valign="top">HA-A Series</td>
    <td valign="top">Balance</td>
    <td valign="top">UC:62421A</td>
    <td valign="top">B</td>
  </tr>
  <tr>
    <td valign="top">HX Series</td>
    <td valign="top">Balance</td>
    <td valign="top">UC:62421A</td>
    <td valign="top">B</td>
  </tr>
  <tr>
    <td valign="top">AD4715</td>
    <td valign="top">Moisture Balance</td>
    <td valign="top">UC:62421A</td>
    <td valign="top">B</td>
  </tr>
</table>

<p><b>If a particular model does not appear in the above table then it has no <br>
Real Time Clock and is thus unaffected by the change of date.</b> </p>

</div>
