<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>A&amp;D Mercury Pty Ltd - {title_context}</title>
  <link href="{url}css/base.css" rel="stylesheet" type="text/css" />
  <link href="{url}css/andmerc.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="http://www.andmercury.com.au/images/favicon.ico"/>
  <meta http-equiv="description" content="A&amp;D Mercury is a leading manufacturer of weighing equipment in Australia. Our range of products covers Scales, Balances, Load Cells, Indicators, Baseworks and Programmable Measurement Control."/>
  <meta http-equiv="keywords" content="Scales, Light Industrial Scales, Heavy Industrial Scales, Counting Scales, Retails Scales, Hospital/Personal Health Scales, Analytical Balances, Compact Balances, Precision Balances, High Capacity Precision Balances, Moisture Analysers, Wheel Chair Scales, Bed Scales, Chair Scales, Indicators, Process Control, DSP, Programmable Measurement &amp; Control Systems, Control Systems, Load Cells, Shearbeams, Weigh Bars, Baseworks, Postal Scales, Viscometers, Thickness Guages, Remote Displays, Wireless Communication"/>
</head>
<body>
<div style="width: 960px;margin-left: auto; margin-right: auto;">
  <h1 style="text-align: center;">Feature Logo Descriptions</h1>
  <p style="text-align: center;margin-bottom: 2em;">Not exactly sure what one of the logos next to the product you were looking at means? Find the defenitions below!</p>
<!-- BEGIN Feat_list -->
  <div style="float: left;width: 50%;height:6em;">
  <a name="{id}"/>
    <div style="width: 70px; height:6em; float:left; margin-right: 1em;">
      <img src="{url}images/Feat-logos/{logo}" alt="{logo_title}" title="{logo_title}" width="70"/>
    </div>
    <h3>{logo_title}</h3>
    <p>
      {description}
    </p>
  </div>
<!-- END Feat_list -->
</div>
</body>
</html>


