<!--<div class="product_feature_logos">-->
  <!-- BEGIN feat_logos -->
  <ul style="text-align: center;">
    <!-- BEGIN feat_row -->
    <li><a href="{url}web.php?p=1098#{title}"><img border="0" src="{url}images/Feat-logos/{logo}" alt="{title} Feature Logo" title="{title} Feature Logo"/></a></li>
    <!-- END feat_row -->
  </ul>
  <!-- END feat_logos -->
<!--</div>-->
<!--
    <li><img src="{url}images/Feat-logos/ACAI.jpg"/></li>
    <li><img src="{url}images/Feat-logos/AccumulationFunction.jpg"/></li>
    <li><img src="{url}images/Feat-logos/AnimalWeighing.jpg"/></li>
    <li><img src="{url}images/Feat-logos/AutoPowerOFF.jpg"/></li>
    <li><img src="{url}images/Feat-logos/AutoPowerON.jpg"/></li>
    <li><img src="{url}images/Feat-logos/BatteryOperation(AA).jpg"/></li>
    <li><img src="{url}images/Feat-logos/BatteryOperation(D).jpg"/></li>
    -->