	<h2>A&amp;D {ptype} {category}</h2>
	<a href="web.php?p={pcat_code}">View the full product list</a>
	<br/>
	<br/>
  <div class="product_column">
    {product_list}
    <div class="product_panel" style="visibility: {vis}">
  		<div class="product_header">
				<h3><a href="http://www.andmedical.com.au">Blood Pressure Monitors</a></h3>
      </div>
			<div class="product_summary">
        <a href="http://www.andmedical.com.au"><img src="{prod_img_path}{pcat}/small/MS-UA787.jpg" alt="UA787" title="UA787" border="0" height="85" width="85"/></a>
  			<p>
          A&amp;D Can also supply a range of Blood Pressure Monitors. For full information please see our sister site <a href='http://www.andmedical.com.au'>A&amp;D Medical.</a>
        </p>
			</div>
  	</div>
  </div>