	<div style="border: solid black 1px; -moz-border-radius:10px; border-radius: 10px;background-color: #2D16FC; width:425px; height:96px;margin-bottom: 20px;">
		<div style="float:left; height:36px; width: 192px; padding: 10px;">
			<span style="color: white;padding-bottom: 0;margin-bottom: 5px;">From:</span>
			<h3 style="color: white;padding-bottom: 0; margin-bottom: 0;">
				<a href="{url}?p=1050&amp;pcat={pcat}&amp;pc={pc}" style="color: white;">${price} inc GST </a>
			</h3>
			<p style="color: white; font-size: smaller;padding-top: 0; margin-top: 0;">Recommend Retail Price</p>
		</div>
		<div style="float:right; height: 36px; width: 192px; padding: 10px;">
			<h4 style="color: white; text-decoration:underline;">
				<a href="{url}?p=1050&amp;pcat={pcat}&amp;pc={pc}" style="color: white;">View Detailed Pricing</a>
			</h4>
		</div>
		<div style="width: 425px; height: 40px; float: clear;">
			<p align="center" style="color: yellow;font-size:smaller;padding-top: 60px;margin-bottom: 3px;height:1em;"><a href="http://web.andmercury.local/web/web.php?p=1004" style="color: yellow;text-decoration: underline;">Contact us</a> for your nearest sales outlet.</p>
			<p align="center" style="color: yellow;font-size:smaller;">Place an order before 2pm ACST and it will ship the same day!</p>
		</div>
	</div>