<div class="product_nav_heading">
  <h1>{product_title}</h1>
</div>
<div class="product_nav_buttons">
  <a href="#" onclick="history.back()">&lt;- Previous Page<span>&nbsp;</span></a>
  <a href="web.php?p=1014&amp;m=bro&amp;c={pcat}&amp;b={brochure}&amp;pc={pc}" title="{brochure}">Download Brochure<span>&nbsp;</span></a>
  <!--<div class="price" style="margin-top: 55px;">-->
  	<!--<fieldset style="float: clear;">
		<h3>$1234.99 RRP</h3>
		<p>Where to Buy</p>
	</fieldset>-->
  <!--</div>-->
</div>
<div class="product_feature_logos">
{feature_logos}
</div>
<!--<div style="float: right;width: 179px;">
  <script src="http://bellme.bellmedia.com/but01/bellme_api.php?bmId=ae3d4f35ab20580affb20e21ff9461cf" type="text/javascript"></script>
  <noscript><a href="http://www.bellmedia.com/index.php?page=dir&amp;sid=1235019575">A &amp; D Mecury Click To Free Call</a></noscript>
</div>-->
<div class="clear"></div>
</div>
<div class="product_details">
<div class="product_details_left"> <img src="{prod_img_path}{pcat}/{product_img}" title="{prod_img_title}" alt="{prod_img_alt}" width="{p_img_width} " height="{p_img_height}" />
  {L1}
	{L2}
	{L3}
	{L4}
	{L5}
	{capacity_list}
  {option_list}
	</div>
<div class="product_details_right">
	
	<!--<fieldset style="border: solid 5px #1A01FB;margin-bottom: 20px;">-->
	<!--<div style="background-image:url('http://web.andmercury.local/web/images/ADAProdPrice2.png'); width:425px; height:96px;margin-bottom: 20px;">-->
	{price_box}
	<!--</fieldset>-->
	{R1}
	{R2}
	{R3}
	{R4}
	{R5}
	{feature_list}
	{info_list}
	{app_list}
	{youtube}
</div>
<div style="margin-left: 180px;">
{raw}
</div>