<div class="content">
  <h3>Manuals</h3>
  <p>Please select a category to see the available Manuals</p>
  <table border="1" cellspacing="2" cellpadding="2" width="300">
    <tr>
      <th colspan="6">Instruction Manuals</th>
    </tr>
    <tr class="center">
      <td><a href="web.php?p=9005&m=im&mt=inst&t=ind">Indicators</a></td>
      <td><a href="web.php?p=9005&m=im&mt=inst&t=sca">Scales</a></td>
      <td><a href="web.php?p=9005&m=im&mt=inst&t=bal">Balances</a></td>
      <td><a href="web.php?p=9005&m=im&mt=inst&t=chk">Checkweigher</a></td>
      <td><a href="web.php?p=9005&m=im&mt=inst&t=med">Medical</a></td>
      <td><a href="web.php?p=9005&m=im&mt=inst&t=oth">Other</a></td>
    </tr>
  </table>
  <br>
  <table border="1" cellspacing="2" cellpadding="2" width="300">
    <tr>
      <th colspan="4">Maintenance / Technical Manuals</th>
    </tr>
    <tr class="center">
      <td><a href="web.php?p=9005&m=im&mt=maint&t=ind">Indicators</a></td>
      <td><a href="web.php?p=9005&m=im&mt=maint&t=sca">Scales</a></td>
      <td><a href="web.php?p=9005&m=im&mt=maint&t=bal">Balances</a></td>
      <td><a href="web.php?p=9005&m=im&mt=maint&t=oth">Other</a></td>
    </tr>
  </table>
</div>
