<div id="left">
  <div id="submenu">
  <ul>
    <li id="sub_dhome"><a href="dealers/ad.dll/addl01?m=002" title="Partner Home">Partner Home</a></li>
    <li id="sub_eng"><a href="web.php?p=9004" title="The Engineering Notes">Engineering Notes</a></li>
    <li id="sub_inst"><a href="web.php?p=9006" title="The Installation Diagrams">Install Diagrams</a></li>
    <li id="sub_manual"><a href="web.php?p=9005" title="The Manuals">Manuals</a></li>
    <li id="sub_technical-documents"><a href="web.php?p=9009" title="Technical Documents">Technical Documents</a></li>
    <li id="sub_marketing"><a href="web.php?p=9003" title="Marketing Tips">Marketing Tips</a></li>
    <li id="sub_request"><a href="web.php?p=9001" title="Request Brochures">Request Brochures</a></li>
    <li id="sub_ipl"><a href="web.php?p=9002" title="View the Illustrated Price List">View IPL</a></li>
    <li id="sub_stock"><a href="web.php?p=9008" title="Check On Hand Stock">Stock Enquiry</a></li>
    <li id="sub_video"><a href="web.php?p=9010" title="Video Library">Video Library</a></li>
  </ul>
	<div class="clear"></div>
  </div>
  <div id="left_footer">
    <p>All Material and Images Copyright &copy; 2011<br />
    A&amp;D Australasia Pty Ltd</p>
<!-- apr2011: deleted two yellow buttons -->
<!-- apr2011: -->
    <p style="padding: 0pt 0pt 0pt 6px;">
      <a href="{url}web.php?p=1012">Site Requirements</a><br />
      <a href="http://www.andmercury.com.au/scales.html">Scales</a><br />
      <a href="http://www.andmedical.com.au/"> Blood Pressure Monitors</a><br />
      <a href="http://www.techeng.com.au/"> Factory Automation</a>
    </p>
  </div>
</div>