	<div class="menu1">
   <ul class="menu1">
		  <li><a href="{url}dealers/ad.dll/addl01?m=002" title="Partner Home">Partner Home</a> &nbsp;|</li>
			<li><a href="{url}web.php?p=10021" title="About A&amp;D Mercury">About</a> &nbsp;|</li>
			<li><a href="{url}web.php?p=10031" title="A&amp;D Global Companies">Global</a> &nbsp;|</li>
      <li><a href="{url}web.php?p=10131" title="A&amp;D Australian Offices">Offices</a> &nbsp;|</li>
      <li><a href="{url}web.php?p=10041" title="Contact A&amp;D Mercury">Contact Us</a> &nbsp;|</li>
      <li><a href="{url}web.php?p=10071" title="Find Out About Trade Approvals">Trade Approvals</a>&nbsp;|</li>
      <li><a href="{url}dealers/ad.dll/addl01?m=999" title="Logout of Partner Access">Log Out</a></li>
    </ul>
	</div>
