<!-- BEGIN product -->
<!-- START Repeating Prod_info.html -->
        <div class="product_panel" style="visibility: {vis};">
					<div class="product_header">
						<h3 style="color: white;">{model}</h3>
          </div>
					<div class="product_summary">
          <a href="#"><img src="{site_url}images/dealers/refurb/{img}" alt="{model}" border="0" height="{iheight}" width="{iwidth}"/></a>
						  <p style="height: 105px;">{desc}</p>
						  <ul>
						    <li><b>Model:</b> {model}</li>
                            <li><b>S/N:</b> {sn}</li>
                            <li><b>Price:</b> {price}</li>
                          </ul>
					</div>
  			</div>
<!-- END Repeating Prod_info.html -->
<!-- END product -->