<div class="content">
  <h2>Refurbished Goods</h2>
  <h3>{title}</h3>
  <ul>
  <!-- BEGIN terms -->
    <li>{terms_item}</li>
  <!-- END terms -->
  </ul>
  <h2 style="Color: red;">{announce}</h2>
  <p style="font-weight: bold;">There are currently {num_prods} products available.</p>
  <div class="product_column">
    {product_list}
  </div>
</div>

<!--
<li>Only fully Tested Refurbished products are offered for sale.</li>
    <li>Six months warranty applies to all refurbished goods.</li>
    <li>No Dealer discount applies.</li>
    <li>Instruction manuals & accessories are not provided.</li>
    <li>Order products by Model & Serial numbers.</li>
    <li>Contact Peter Warne/ Service Department for all refurbished goods enquiries.</li>
    <li>Ph. 08 8301 8120. Email service@andmercury.com.au</li>
    -->