<h2>Technical Documents Index</h2>
<div class="tech_docs">
  <div class="tech_index">
        <ul>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=la">Linearity Adjustments</a></li>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=iac">Internal Mass Calibration</a></li>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=cor">Corner Error Adjustments</a></li>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=rs232">RS232 Communication Cable Wiring</a></li>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=comp">Comparator, Batching &amp; Control Systems</a></li>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=init">Initialisation</a></li>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=cf">Function, C &amp; CF Settings
            <br/>(includes Model &amp; Capacity, Country, lb/kg Settings)</a></li>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=int">Internal Counts</a></li>
<!--          <li><a href="{site_url}web.php?p=9009&amp;icat=func">Function Settings</a></li>-->
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=opt">Options</a></li>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=spec">Quick Calibration Procedures</a></li>
          <li><a class="tilink" href="{site_url}web.php?p=9009&amp;icat=tech">Tech Notes</a></li>
        </ul>
  </div>
  <div class="tech_content">
        <h3>{doc_title}</h3>
        <ul>
          <!-- BEGIN techdoc_list -->
          <li style="padding: .5em .5em 0 0;visibility: {visible};"><a class="tclink" href="{site_url}dealer/techdocs/{folder}/{file}" target="_blank">{title}</a></li>
          <!-- END techdoc_list -->
        </ul>
  </div>
</div>