<h2>Dealer Video Library</h2>

<p>
The video library provides you with instructional videos of some of our most popular products. We hope that this will help you and your customers to gain a better understanding of how these products work.
</p>
<p>
The videos are provided in windows media format in three different file sizes. Please choose the appropriate size for your internet connection.
</p>
<br/>
<div class="product_column">
  <div class="product_panel">
    <div class="product_header">
      <h3><span style="color: #FFFFFF;">Viscometer - SV Series Video</span></h3>
    </div>
    <div class="video_item">
      <img src="{url}{prod_img_path}balances/small/AE-SV10.jpg" alt="SV10" title="SV10" width="85" height="85"/>
      <ul style="float: left; list-style-type:none; margin: 10px 10px 10px 10px">
        <li class="vid_list"><a href="http://www.aandd.jp/products/test_measuring/sv10/sv10_video/viscometer_320x240_43kbps.wmv">320x240, 2.5MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/test_measuring/sv10/sv10_video/viscometer_320x240_340kbps.wmv">320x240, 22MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/test_measuring/sv10/sv10_video/viscometer_640x480_1mbps.wmv">640x480, 64MB</a></li>
      </ul>
    </div>
  </div>
  <div class="product_panel">
    <div class="product_header">
      <h3><span style="color: #FFFFFF;">Production Weighing System - AD-4212A Series</span></h3>
    </div>
    <div class="video_item">
      <img src="{url}{prod_img_path}scales/small/PWS-AD4212A.jpg" alt="AD-4212A Series" title="AD-4212A Series" width="85" height="85"/>
      <ul style="float: left; list-style-type:none; margin: 10px 10px 10px 10px">
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/balance/ad4212/ad4212avideo/ad4212a51kbps.wmv">320x240, 1.2MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/balance/ad4212/ad4212avideo/ad4212a300kbps.wmv">320x240, 7.5MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/balance/ad4212/ad4212avideo/ad4212a1mbps.wmv">640x480, 23MB</a></li>
      </ul>
    </div>
  </div>
  <div class="product_panel">
    <div class="product_header">
      <h3><span style="color: #FFFFFF;">Counting Scales - HC-i Series Video</span></h3>
    </div>
    <div class="video_item">
      <img src="{url}{prod_img_path}scales/small/CS-HC-i_Series.jpg" alt="HC-i Series" title="HC-i Series" width="85" height="85"/>
      <ul style="float: left; list-style-type:none; margin: 10px 10px 10px 10px">
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/scale/counting/hc-ivideo/hc-i51kbps.wmv">320x240, 4MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/scale/counting/hc-ivideo/hc-i300kbps.wmv">320x240, 24MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/scale/counting/hc-ivideo/hc-i1mbps.wmv">640x480, 80MB</a></li>
      </ul>
    </div>
  </div>
  <div class="product_panel">
    <div class="product_header">
      <h3><span style="color: #FFFFFF;">Counting Scales - FC-i Series Video</span></h3>
    </div>
    <div class="video_item">
      <img src="{url}{prod_img_path}scales/small/CS-FCI.jpg" alt="FC-i Series" title="FC-i Series" width="85" height="85"/>
      <ul style="float: left; list-style-type:none; margin: 10px 10px 10px 10px">
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/scale/counting/fcvideo/counting_scale_fci_english50k.wmv">320x240, 3.7MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/scale/counting/fcvideo/counting_scale_fci_english260kbps.wmv">320x240, 24.6MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/scale/counting/fcvideo/counting_scale_fci_english1mbps.wmv">640x480, 99MB</a></li>
      </ul>
    </div>
  </div>
  <div class="product_panel">
    <div class="product_header">
      <h3><span style="color: #FFFFFF;">IP-65 Digital Scale - HL-WP Series Video</span></h3>
    </div>
    <div class="video_item">
      <img src="{url}{prod_img_path}balances/small/CB-HLWP.jpg" alt="HL-WP Series" title="HL-WP Series" width="85" height="85"/>
      <ul style="float: left; list-style-type:none; margin: 10px 10px 10px 10px">
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/scale/digital_scale/hlwpvideo/waterproof_scale_hlwp52kb.wmv">320x240, 2.1MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/scale/digital_scale/hlwpvideo/waterproof_scale_hlwp360kbps.wmv">320x240, 14MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/weighing/scale/digital_scale/hlwpvideo/waterproof_scale_hlwp1m.wmv">640x480, 40MB</a></li>
      </ul>
    </div>
  </div>
  <div class="product_panel">
    <div class="product_header">
      <h3><span style="color: #FFFFFF;">Static Eliminator AD-1683EX</span></h3>
    </div>
    <div class="video_item">
      <img src="{url}{prod_img_path}accessories/small/PE-AD1683.jpg" alt="Static Eliminator AD-1683EX" title="Static Eliminator AD-1683EX" width="85" height="85"/>
      <ul style="float: left; list-style-type:none; margin: 10px 10px 10px 10px">
        <li class="vid_list"><a href="http://www.aandd.jp/products/peripheral/ad1683/ad1683_ex/ad1683_with_gh_march2_2006_300k_360.wmv">320x240, 4.7MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/peripheral/ad1683/ad1683_ex/ad1683_with_gh_march2_2006_500k_720.wmv">320x240, 7.5MB</a></li>
        <li class="vid_list"><a href="http://www.aandd.jp/products/peripheral/ad1683/ad1683_ex/ad1683_with_gh_march2_2006_1m_720.wmv">640x480, 23MB</a></li>
      </ul>
    </div>
  </div>
</div>
<p>Please report broken links to the webmater using the <a href="web.php?p=1009&mode=web">Contact Form</span></p>