<div class="content">

<h3>Engineering Note #4531_07</h3>
<p><b>Equipment</b> - AD4531 Indicator Options</p>
<p><b>Problem</b> - Lack of fitting details in the Instruction Manual
<p><b>Detail:</b></p>
<p>
There have been several reports of indicator options not functioning after
installation by customers. The instruction manual details the function settings
for each option but does not address the setting o on board links and switches.
Failure to set these items, to match the option type, will result in the
incorrect or non-operation of the option.
</p>
<p>
The details are shown below:</p>

<h4>Option AD4531 OP-04 or OP-05</h4>
<p>Referring to the drawing below carry out the following steps:-
<ol>
  <li>Cut JP1 and JP2</li>
  <li>Set Switch S1 to OFF</li>
  <li>Plug in the option to connector J3</li>
  <li>Secure the option using the M3 x 6 screw</li>
</ol>
<img src="{img}dealers/engineering/AD4531_OP04-OP05.jpg" width="600" height="533" alt="OP-04/OP-05 Option configuration diagram" title="OP-04/OP-05 Option configuration diagram">
<h4>Option AD4531 OP-07</h4>
<p>Referring to the drawing below carry out the following steps:-
<ol>
  <li>Cut JP1</li>
  <li>Set Switch S1 to ON</li>
  <li>Plug in the option to connector J3</li>
  <li>Secure the option using the M3 x 6 screw</li>
</ol>
<img src="{img}dealers/engineering/AD4531_OP07.jpg" width="600" height="528" alt="OP-07 Option configuration diagram" title="OP-04/OP-05 Option configuration diagram">
</div>
