<div class="content">
<!--<table CELLSPACING="0" BORDER="0" CELLPADDING="7" WIDTH="568">
  <tr>
    <td WIDTH="33%" VALIGN="TOP"></td>
    <td WIDTH="33%" VALIGN="TOP"><font SIZE="2"></font><img src="{img}dealers/engineering/adms.gif" alt="adms.gif (1867 bytes)" WIDTH="200" HEIGHT="51"></td>
    <td WIDTH="33%" VALIGN="TOP"></td>
  </tr>
</table>-->
<b><font FACE="Arial" SIZE="4"><u>

<p>Engineering Note # HVW-G_04</p>
</u></font><font FACE="Arial">

<p>Equipment </b>- HVW-G series scales</p>
<b>

<p>Problem</b> - An undocumented feature of the software settings allows the Cal routines
to be disabled.</p>
<b>

<p>Detail</p>
</b>

<p>A hidden F function - F0 has 2 settings. F0-0 Calibration access is enabled; F0-1
Calibration access is disabled.</p>
<b>

<p>To change F0 setting:-

<ol>
  <ol>
    </b>
    <li>Ensure that the scale is OFF.</li>
    <li>Hold the CAL, F and ZERO switches and then press the ON/OFF switch.<br>
      [Scale will display F1-0 or F1-1 depending upon previous selection].</li>
    <li>Press the ZERO switch.<br>
      [Scale will display F0-0 or F0-1 depending upon previous selection].</li>
    <li>Use the RANGE (HV-G) or SAMPLE (HW-G) switch to select the desired setting.</li>
    <li>Press the F switch to complete the sequence and then press the ENTER switch to return to
      normal weighing.</li>
  </ol>
</ol>

<p>&nbsp;</p>
</font>
</div>
