<div class="content">
<table CELLSPACING="0" BORDER="0" CELLPADDING="7" WIDTH="568">
  <tr>
    <td WIDTH="33%" VALIGN="TOP"></td>
    <td WIDTH="33%" VALIGN="TOP"><font SIZE="2"><img SRC="Image2.gif" WIDTH="170" HEIGHT="65"></font></td>
    <td WIDTH="33%" VALIGN="TOP"></td>
  </tr>
</table>
<b><font FACE="Arial" SIZE="4"><u>

<p>Engineering Note # HVW-G_05</p>
</u></font><font FACE="Arial">

<p>Equipment </b>- HVW-G series scales</p>
<b>

<p>Problem</b> - Error 1 display - error codes are not given in the Instruction manual.</p>
<b>

<p>Detail</p>
</b>

<p>Error 1 was displayed after calibration of the scale and immediately on power on. The
scale would not weigh. If the calibration disable routine, F0, was entered and exited the
scale would then work until next switched off/on. </p>
<b>

<p>Explanation</p>
</b>

<p>Error 1 indicates a fault in the Non Volatile Memory and in this instance was caused by
a grossly incorrect figure inadvertently being entered for the gravity setting when
performing calibration. The figure entered was outside the limits placed in the software
as a check on the validity of stored data and caused the error 1 to be displayed.</p>
<b>

<p>Avoidance</p>
</b>

<p>To avoid this error simply ensure that valid figures are entered for the gravity
setting when performing calibration.</p>

<p><img SRC="{img}dealers/engineering/Image4.gif" WIDTH="140" HEIGHT="78"></p>
</font><font FACE="Arial" SIZE="2">

<!--<p>Peter Harman</p>

<p>(Customer Service Manager)</p>-->
</font>
</div>
