<div class="product_nav_heading">
  <h1>{product_title}</h1>
</div>
<div class="product_nav_buttons"> <a href="#" onclick="history.back()">&lt;- Previous Page<span></span></a> <a href="web.php?p=1014&amp;m=soft&amp;c={pcat}&amp;d={brochure}&amp;pc={pc}" title="{brochure}">Download Software<span></span></a> </div>
<div class="clear"></div>
</div>
<div class="product_details">
  <div style="margin-left: 180px;">
  <img src="{prod_img_path}{pcat}/{product_img}" title="{prod_img_title}" alt="{prod_img_alt}" width="{p_img_width} " height="{p_img_height}" />
  {capacity_list}
  {option_list}
	{feature_list}
	{info_list}
	{app_list}
  {raw}
  </div>
</div>