<div class="content">

<h2>A&amp;D Mercury Celebrates 60th Birthday</h2>
<img style="float: right;" src="{img}Original_Building.JPG" alt="The original Building as it stood in 1912" title="The original Building as it stood in 1912"width="250" height="174"/>
<p>
2006 was a milestone year for A&amp;D Mercury Pty Ltd representing the company’s 60th year of service to the Australian Measurement industry.
Originally founded as Mercury Scale Company in 1946 by Mr. Gwyn Adams and Mr. Bert Brice, the company has occupied the same location in the Adelaide suburb of Thebarton to the present day.
</p>
<p>
The earliest days of the company focused on the design and production of mechanical weighing scales using the engineering facilities located within the factory.
</p>
<p>
A service centre was established to support the product range that was sold and this philosophy of product support and after sales service has been retained by the company throughout it’s history.
Mechanical machines continued to be standard fare for Mercury Scales, including a boom period during the 1960’s when trade standards were established and metrication was introduced into Australia.
</p>
<p>
The advent of electronic technology represented significant change to the measurement industry.
This change was recognised early by the directors of the company who moved to embrace the technology into their product designs.
This change in technology was highlighted by the change of the company name to Mercury Weighing &amp; Control Systems in the late 1970’s.
Design and production of innovative solutions became the trademark of the company as the use of electronics coupled with the existing knowledge base allowed MWCS to provide products to niche markets that were previously unobtainable.
In 1986, the new technology was in full flight and the company recognised the need to expand it’s creative wings further to remain at the forefront of the marketplace.
</p>
<img style="float: left; margin-right: 1em;" src="{img}New_Building.jpg" alt="The ADM Building as it stands today" title="The ADM Building as it stands today" width="250" height="118"/>
<p>
At the same time A&amp;D Company of Japan were looking for an opportunity to bring it’s extensive product range into Australia so an opportunity clearly existed to benefit both parties.
The company was then renamed A&amp;D Mercury Pty Ltd.
A&amp;D Mercury Pty Ltd were then able offer the market an extensive selection of equipment ranging from the heaviest capacity floor scale weighing up to several tonnes down to a laboratory balance capable of weighing fractions of a gram.
A&amp;D Mercury’s product range is made up of locally manufactured products, produced in the Thebarton factory, and high tech products that are imported from A&amp;D Company in Japan.
</p>
<p>
The local manufacturing component has allowed ADM to secure contracts for supply of weighing equipment to overseas subsiduaries leading to the claim that it is Australia’s Largest Manufacturer and Exporter of Industrial Weighing Equipment.
In recent years ADM has sought to further expand it’s measurement capability with the creation of A&amp;D Medical which deals with the supply and service of a range of health monitoring equipment.
Again, with one eye on future requirements, ADM have also created a new department dedicated to materials handling solutions featuring state of the art batching systems and in motion checkweighing.
</p>
<p>
A&amp;D Mercury Pty Ltd was born by innovative people with an outstanding customer service ethic.
This attitude has stayed with the business and it’s people through it’s first 60 years of business.
With a strong team of committed employees dedicated to constant improvements and quality, ADM look forward to the next 60 years with great anticipation.
</p>
</div>