<div class="content">
  <h2>Trade Certification</h2>
  <p>A&amp;D Mercury can test and certify all products in their range that are approved for trade use by the National Standards Commission or National Measurement Institute of Australia.
  See details below:</p>
  <table border="0" cellspacing="0" cellpadding="0" class="table">
  	<thead>
  		<tr>
  			<td>South Australian Department of Consumer and Business Affairs Certificate of Compliance for Trade</td>
    		<td width="80px">Price (nett)</td>
      </tr>
  	</thead>
  	<tbody>
     	<tr>
    	  <td>Instruments not exceeding 30 kg capacity</td>
    	  <td>$50.00</td>
    	</tr>
    	<tr>
    	  <td>Instruments exceeding 30 kg but not exceeding 150 kg capacity</td>
    	  <td>$60.00</td>
    	</tr>
    	<tr>
    	  <td>Instruments exceeding 150 kg but not exceeding 300 kg capacity</td>
    	  <td>$80.00</td>
    	</tr>
    	<tr>
    	  <td>Instruments exceeding 300 kg but not exceeding 1000 kg capacity</td>
    	  <td>$120.00</td>
    	</tr>
    	<tr>
    	  <td>Instruments exceeding 1000 kg but not exceeding 3000 kg capacity</td>
    	  <td>$150.00</td>
    	</tr>
    	<tr>
    	  <td>Instruments exceeding 3000 kg but not exceeding 5000 kg capacity</td>
    	  <td>$200.00</td>
    	</tr>
    	<tr>
    	  <td colspan="2" style="background-color: #666666; color: #FFF;">
    		  Testing is conducted at the A&amp;D Mercury Service Department in
    			Thebarton S.A. Certification will be enclosed in the carton with goods
    			when despatched.<p>
    			Pricing is the nett dealer price, no discount is applicable
    			</p>
    		</td>
    	</tr>
    </tbody>
  </table>
  <p>Prices do not include GST</p>
</div>
