<div class="content">
<script type="JavaScript" src="{url}js/andmerc.js"></script>

<h2>Contact Us</h2>
<p>
  Please fill in the form below with your question or comment.
</p>
  <form method="post" action="web.php?p=1009" onsubmit="return FrontPage_Form1_Validator(this)" name="FrontPage_Form1">
    <input type="hidden" name="mode" value="contact"/>
    <table class="table" border="0" cellpadding="2" cellspacing="0" width="100%">
      <thead>
        <tr>
          <!--<td align="left" colspan="2"><b>Please provide the following contact information:</b></td>-->
          <td align="left" colspan="2"><b>Contact Us:</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align="left"><em>Title</em></td>
          <td><input name="Contact_Title" size="25"/></td>
        </tr>
        <tr>
          <td align="left"><em>Name</em></td>
          <td><input name="Contact_FullName" size="49" maxlength="49"/></td>
        </tr>
        <tr>
          <td align="left"><em>Organization</em></td>
          <td><input name="Contact_Organization" size="49"/> </td>
        </tr>
        <tr>
          <td align="left"><em>Phone</em></td>
          <td><input name="Contact_Phone" size="25" maxlength="25"/></td>
        </tr>
        <tr>
          <td align="left"><em>FAX</em></td>
          <td><input name="Contact_FAX" size="25"/></td>
        </tr>
        <tr>
          <td align="left"><em>E-mail</em></td>
          <td><input name="Contact_Email" size="25"/></td>
        </tr>
        <tr>
          <td align="left"><em>Subject</em></td>
          <td>
            <select name="subject">
              <option {sale_select}>Sales Enquiry</option>
              <option {hire_select}>Hire Enquiry</option>
              <option {web_select}>Website Feedback</option>
            </select>
          </td>
        </tr>
        <tr>
          <td align="left" colspan="2"><b>Please type your enquiry or comment below:</b></td>
        </tr>
        <tr>
          <td colspan="2"><textarea name="comment" rows="6" cols="120"></textarea></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input type="submit" value="Submit" name="submit"/>&nbsp;<input type="reset" value="Reset" name="reset"/></td>
        </tr>
      </tbody>
    </table>
  </form>
<h3 align="center">PRIVACY STATEMENT</h3>
<p>
  A&amp;D Mercury recognises the importance of privacy and of safeguarding the personal information of users of our
  website. Any personal information provided to A&amp;D Mercury will be protected in
  accordance with the National Privacy Principles.
</p>

<p>
  We will not collect or monitor personal information without your consent nor rent or sell
  your name, address, email address or personal information without your permission in advance.
  However, if the situation arises where there is a legal requirement to disclose information about a customer, then it is our policy to co-operate fully.
</p>
<p>
  So that we can effectively assist your use of the site, we will use your personal information
  to provide our services and reply to your queries or requests for service. We
  may occasionally update you with new releases and special opportunities.
  Please let us know if you do not wish to receive this information and your name
  will be removed from our mailing list.
</p>
<p>
  We want to develop a continuing and trusting relationship with you so please do not
  hesitate to contact our office if you need further information regarding our Privacy Policy.
</p>
</div>
