<div class="content">
  <h3><u>Customer Satisfaction Report January 2007</u></h3>

  <table class="csi" width="760px" cellspacing="0" cellpadding="6" border="1">
  	<tr class="csi">
  	  <th width="25%" class="csi">CSI Results</th>
   	  <th width="15%" class="csi">January-2007</th>
   	  <th width="20%" class="csi">January-2007</th>
   	  <th width="25%" class="csi">January-2007</th>
   	  <th width="15%" class="csi">January-2007</th>
  	</tr>
  	<tr class="csi">
  	  <th class="csi">&nbsp;</th>
  	  <th class="csi">Target</th>
  	  <th class="csi">Achievment</th>
  	  <th class="csi">Difference (Target-Achievement)</th>
  	  <th class="csi">Chage from Last Month</th>
  	</tr>
  	<tr class="csi">
  	  <td class="csititle">Despatch Finished Goods</td>
  	  <td class="csi">95%</td>
  	  <td class="csi">86.4%</td>
  	  <td class="csi">-8.6%</td>
  	  <td class="csi">+7.10%</td>
  	</tr>
  	<tr class="csi">
  	  <td class="csititle">Product Quality</td>
  	  <td class="csi">99.5%</td>
  	  <td class="csi">99.89%</td>
  	  <td class="csi">+0.39%</td>
  	  <td class="csi">+0.16%</td>
  	</tr>
  	<tr class="csi">
  	  <td class="csititle">Technical Support</td>
  	  <td class="csi">95%</td>
  	  <td class="csi">100%</td>
  	  <td class="csi">+5.00%</td>
  	  <td class="csi">+5.56%</td>
  	</tr>
  	<tr class="csi">
  	  <td class="csititle">Despatch Spare Parts</td>
  	  <td class="csi">95%</td>
  	  <td class="csi">62.8%</td>
  	  <td class="csi">-32.2%</td>
  	  <td class="csi">-27.90%</td>
  	</tr>
  	<tr class="csi">
  	  <td class="csititle">Invoices Credited</td>
  	  <td class="csi">99.5%</td>
  	  <td class="csi">99.14%</td>
  	  <td class="csi">-0.36%</td>
  	  <td class="csi">+0.12%</td>
  	</tr>
  	<tr class="csi">
  	  <td class="csititle">Overall CSI</td>
  	  <td class="csi">0.95</td>
  	  <td class="csi">0.86</td>
  	  <td class="csi">-0.09</td>
  	  <td class="csi">-0.03</td>
  	</tr>
  </table>
  <p>The overall CSI dropped to .86 in January 2007. There were improvements in all areas, however a large drop in the despatch of spare parts brought the total down to the lowest since April 2005.</p>
<img src="{img}csi/csi-01-2007.jpg" width="760" height="391" border="0" alt="CSI Performance Graph"/>
<img src="{img}csi/promises-01-2007.jpg" width="760" height="466" border="0" alt="Promises Performance Graph"/>
</div>
