<div class="content">
  <table width="98%" class="skin_body">
  	<tr>
  		<th align="center">Partner Login</th>
  	</tr>
  	<tr>
  		<td>&nbsp;</td>
  	</tr>
  	<tr>
  		<td align="center">Please enter your Username and Password below and click the Login button</td>
  	</tr>
  </table>
  <br/>
<!-- START Message Area -->
    <!--<div style="border: solid 1px black; background-color: #ffff66; width: 80%; padding: 0 5px 5px 5px; margin-left: auto; margin-right:auto;margin-top: 1em; margin-bottom: 1em;">
    	<h3 style="color: red; margin-top: 3px; margin-bottom: 3px; padding-bottom: 0;text-align:center;">Maintenance Notice</h3>
    	<p style="text-align: center; padding: 1px 1px 1px 1px;margin: 0 0 0 0;">The A&amp;D Australasia Partner Website will be unavailable on Saturday the 13th and Sunday the 14th of February.<br/>We will be performing maintenance on the system during this time and apologise for any inconvenience.</p>
  	</div>-->
<!-- END Message Area -->
  <table width="98%" class="skin_body">
  	<tr>
  		<td align="center" height="120">
  		<form method="post" action="dealers/ad.dll/addl01?m=001">
  			<table>
  				<tr>
                      <td>Company Code</td>
  					<td><input name="cCustNo" type="text" maxlength="10" size="20" tabindex="1"/></td>
  				</tr>
  				<tr>
  					<td align="right">Username:</td>
  					<td valign="top"><input name="cUserName" size="20" tabindex="1"/></td>
  				</tr>
  				<tr>
  					<td align="right">Password:</td>
  					<td valign="top"><input type="password" name="cPassword" size="20" tabindex="1"/></td>
  				</tr>
  				<tr>
  					<td colspan="2" align="center"><input type="submit" value="Partner Login" tabindex="3"/></td>
  				</tr>
  			</table>
  		</form>
  		</td>
  	</tr>
  </table>
</div>
