<div class="content">
  <h2 class="error">Sorry, I've Encountered a problem.....</h2>
  <table border="0" cellpadding="3" cellspacing="3">
    <tr>
      <td>
        <img src="{url}{img}/tn_an5.gif" title="Sorry, I've got a problem..." alt="Sorry, I've got a problem...">
      </td>
      <td>
        <p>There has been an unspecified error while attempting to send email and your message has not been sent.</p>
        <p>Please contact one of our <a href="{url}web.php?p=1013">offices</a> for assistance with your enquiry.</p>
      </td>
    </tr>
  </table>
</div>