<div class="content">
  <h2 class="error">Sorry, I've Encountered a problem.....</h2>
  <table border="0" cellpadding="3" cellspacing="3">
    <tr>
      <td>
        <img src="{url}{img}/tn_an5.gif" title="Sorry, I've got a problem..." alt="Sorry, I've got a problem...">
      </td>
      <td>
        <p>The following details will help the Web Master to pin-point the problem:</p>
        <ul>
<!--          <li>File: {error_file}</li>-->
<!--          <li>Line Number: {error_line}</li>-->
          <li>Error Message: {error_msg}</li>
          <li>Requested URL: {request_uri}</li>
          <li>User's IP address: {user_ip}</li>
        </ul>
        <p>You may try again, or visit a different part of the site. If the problem
        persists, please contact the <a href="web.php?p=1004&s=web">Web Master</a> with the above details
        </p>
      </td>
    </tr>
  </table>
</div>
