<div class="content">
  <!--<h2>Frequently Asked Questions</h2>-->


<table  width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
  <thead>
    <tr>
      <td width="30%">Frequently Asked Questions</td>
      <!--<td>Answers</td>-->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="legend">Quick Links:</span></td>
    </tr>
    <tr>
      <td>
        <ul style="margin: 1em 1em 1em 1em; list-style-type: none;padding: 0;">
          <!-- BEGIN faqtitle -->
          <li style="display: inline; margin: 0 2em 0 2em;"><a href="#{ttitle}">{ttitle}</a></li>
          <!-- END faqtitle -->
        </ul>
      </td>
    </tr>
    <!-- BEGIN faqlist -->
    <tr>
      <td colspan="1" style="padding-top: 1em;">
        <a name="{title}"/>
        <div class="top_link">
  	  	  <a href="#top">Top</a>
  	   	</div>
        <h3>{title}</h3>
      </td>
    </tr>
    <!-- BEGIN faqitem -->
    <tr>
      <td><b>{question}</b></td>
    </tr>
    <tr>
      <td style="padding-left: 2em;">{answer}</td>
    </tr>
    <!-- END faqitem -->
    <!-- END faqlist -->
  </tbody>
</table>
</div>