<!-- BEGIN featured_products -->
        <div class="product_panel" style="visibility: {vis}">
					<div class="product_header">
						<h3><a href="web.php?p={pid}&amp;pp={pp}">{product}</a></h3>
					</div>
					<div class="product_summary">
            <a href="web.php?p={pid}&amp;pp={pp}"><img src="{prod_img_path}{cat}/small/{image}" alt="{product}" title="{product}" border="0" height="{iheight}" width="{iwidth}"/></a>
					  <p>{desc}</p>
					</div>
  			</div>
<!-- END featured_products -->