	<h3>World Wide Locations</h3>
	<div class="product_column">
	    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">Australia</a></b></h3>
      </div>
  		<div>
    		<ul class="address">
					<li><b>A&amp;D Mercury Pty. Ltd.</b></li>
					<li>32 Dew Street Thebarton,</li>
					<li>South Australia 5031</li>
					<li>AUSTRALIA</li>
					<li><b>Phone:</b> (61) (08)8301-8100 </li>
					<li><b>Fax:</b> (61) (08)8352-7409 </li>
					<li><b>Email address:</b> <a href="mailto:salesenquiry@andmercury.com.au">salesenquiry@andmercury.com.au</a></li>
				</ul>
  		</div>
    </div>
    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">Germany</a></b></h3>
      </div>
  		<div>
    		<ul class="address">
					<li><b>A&amp;D Instruments</b></li>
					<li>Grosse Straﬂe 6</li>
					<li>13b 22926 Ahrensburg</li>
					<li>GERMANY</li>
					<li><b>Phone:</b> +49 (0)102459230</li>
					<li><b>Fax:</b> +49 (0)4102459231</li>
					<li><b>Web Address:</b> <a href="http://www.aandd.net/">http://www.aandd.net/</a></li>
				</ul>
  		</div>
    </div>
    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">Hong Kong</a></b></h3>
      </div>
  		<div>
    		 <ul class="address">
		      <li><b>A&amp;D (H.K.) Co. Limited</b></li>
					<li>Unit A10, 5/F,</li>
					<li>Phase 6 Hong Kong Spinners Ind. Bldg.</li>
					<li>481 Castle Peak Road</li>
					<li>Kowloon</li>
					<li>Hong Kong</li>
					<li><b>Phone:</b> (852) 2743 2322</li>
					<li><b>Fax:</b> (852) 2307 2711</li>
					<li><b>Email address:</b> <a href="mailto:andhk@hkstar.com">andhk@hkstar.com</a></li>
				</ul>
  		</div>
    </div>
    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">Japan</a></b></h3>
      </div>
  		<div>
    		<ul class="address">
  		      <li><b>A&amp;D Company Limited</b></li>
  					<li>3-23-14 Higashi-Ikebukuo</li>
  					<li>Toshima-ku, Tokyo 170</li>
  					<li>JAPAN</li>
  					<li><b>Phone:</b> (81) (03)5391-6132</li>
  					<li><b>Fax:</b> (81) (03)5391-6148</li>
  					<li><b>Web Address:</b> <a href="http://www.aandd.jp">http://www.aandd.jp</a></li>
  					<li><b>Export Shipping:</b> <a href="mailto:ship@aandd.co.jp">ship@aandd.co.jp</a></li>
  					<li><b>International Marketing:</b> <a href="mailto:mark2@aandd.co.jp">mark2@aandd.co.jp</a></li>
  				</ul>
  		</div>
    </div>
    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">Korea</a></b></h3>
      </div>
  		<div>
    		<ul class="address">
					<li><b>A&amp;D Korea Limited</b></li>
					<li>Manhattan Bldg. 8F 36-2, Yoido-Dong</li>
					<li>Youngdeungpo-gu, Seoul,</li>
					<li>KOREA</li>
					<li><b>Phone:</b> (02) 780-4101</li>
					<li><b>Fax:</b> (02) 782-4280/782-4264</li>
				</ul>
  		</div>
    </div>
    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">Malaysia</a></b></h3>
      </div>
  		<div>
    		<ul class="address">
					<li><b>A&amp;D Measurements (M) SDN. BHD.</b></li>
					<li>Lot 26, Jalan Pemberita U1/49,</li>
					<li>Temasya Industrial Park, SEC. U1,</li>
					<li>Glenmarie, 40150 Shah Alam</li>
					<li>Selangor D.E.</li>
					<li>Malaysia</li>
					<li><b>Phone:</b> 6-03-7628 0999 </li>
					<li><b>Fax:</b> 6-03-7628 0222</li>
					<li><b>Email address:</b> <a href="mailto:vinclim@pc.jaring.my">vinclim@pc.jaring.my</a></li>
				</ul>
  		</div>
    </div>
    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">Russia</a></b></h3>
      </div>
  		<div>
    		<ul class="address">
					<li><b>A&amp;D RUS Co Ltd</b></li>
					<li>Korp. 134A, D.29, UL.</li>
					<li>Vereiskaya, Moscow, 121357</li>
					<li>Russian Federation</li>
					<li><b>Phone:</b> [7] (495) 727-4455</li>
					<li><b>Fax:</b> [7] (495) 727-4456</li>
					<li><b>Web page address:</b> <a href="http://www.aandd.ru">http://www.aandd.ru</a></li>
				</ul>
  		</div>
    </div>
<!--    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b>Taiwan</b></h3>
  				<a href="web.php?p={page}&amp;pp={pp}">[ FIND OUT MORE ]</a>
      </div>
  		<div>
    		<ul class="address">
					<li><b>A&amp;D Scientech Taiwan Ltd.</b></li>
					<li>4th Floor,</li>
					<li>5, Ching Tao East Road</li>
					<li>Taipei</li>
					<li>Taiwan, R.O.C.</li>
					<li><b>Phone:</b> 886-2-322-4722</li>
					<li><b>Fax:</b> 886-2-392-1794</li>
					<li><b>Email address:</b><a href="mailto:adsttp@ms10.hinet.net">adsttp@ms10.hinet.net</a></li>
				</ul>
  		</div>
    </div>-->
    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">United Kingdom</a></b></h3>
      </div>
  		<div>
    		<ul class="address">
					<li><b>A&amp;D Instruments Ltd.</b></li>
					<li>Unit 24/26 Blacklands Way, Abingdon Business Park</li>
					<li>Abingdon, Oxford OX14 1DY</li>
					<li>ENGLAND</li>
					<li><b>Phone:</b> (44) (1235)550420 </li>
					<li><b>Fax:</b> (44) (1235)550485 </li>
					<li><b>Web page address:</b> <a href="http://www.andinstruments.co.uk">www.andinstruments.co.uk</a></li>
					<li><b>Email address:</b> <a href="mailto:sales@andinstruments.co.uk">sales@andinstruments.co.uk</a></li>
				</ul>
  		</div>
    </div>
    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">United States of America</a></b></h3>
      </div>
  		<div>
    		<ul class="address">
					<li><b>A&amp;D Engineering, Inc.</b></li>
					<li>1555 McCandless Dr.</li>
					<li>Milpitas, CA 95035</li>
					<li>USA</li>
					<li><b>Phone:</b> 408-263-5333 or 408-263-0119</li>
					<li><b>Weighing Technical Support:</b> 800-726-4940</li>
					<li><b>Consumer Blood Pressure Support:</b> 800-726-9855</li>
					<li><b>Web Address:</b><a href="http://www.andweighing.com/">www.andonline.com</a></li>
					<li><b>Weighing:</b> <a href="mailto:value@andweighing.com">value@andweighing.com</a></li>
					<li><b>Medical:</b> <a href="mailto:value@andmedical.com">value@andmedical.com</a></li>
				</ul>
  		</div>
    </div>
    <div class="product_panel" style="visibility: {vis}">
    	<div class="product_header">
  			<h3><b><a href="web.php?p={page}&amp;pp={pp}">Global Partners</a></b></h3>
      </div>
  		<div>
    		<ul class="address">
					<li><b>A&amp;D Scientech Taiwan</b></li>
					<li><b>A&amp;D Measurement Malaysia</b></li>
					<li><b>A&amp;D Gulf United Arab Emirates</b></li>
					<li><b>A&amp;D Hong Kong</b></li>
					<li><b>A&amp;D Guangzhou Co., Ltd</b></li>
				</ul>
  		</div>
    </div>
  </div>