	<div id="header">
		<div id="logo">
<!-- apr2011: start new header logo area -->		
			<table id="Table_01" width="960" height="160" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td rowspan="2" width="223"><a href="http://www.andmercury.com.au/" target="_self"><img src="images/logo_andweighing.gif" alt="" width="223" height="160" border="0" id="logo_andweighing" /></a></td>
					<td rowspan="2" bgcolor="#F8F8F8" width="606">
			
					<div id="flashcontent1">
			
						<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
						
					</div>
						
					</td>
					<td width="131"><a href="http://www.andmedical.com.au/" target="_self"><img src="images/logo_andmedical.gif" alt="" width="131" height="80" border="0" id="logo_andmedical" /></a></td>
				</tr>
				<tr>
					<td><a href="http://www.techeng.com.au/" target="_self"><img src="images/logo_andtecheng.gif" alt="" width="131" height="80" border="0" id="logo_andtecheng" /></a></td>
				</tr>
			</table>
<!-- apr2011: end new header logo area -->	

		</div>
<!-- apr2011: start new menu area -->
		<div id="menucontainer">
			<div id="menu">
				<ul>
				<li><a href="{url}web.php?p=1001" title="Go to the Main Index">Home</a></li>
				<li><a href="{url}web.php?p=1002" title="Why Choose A&amp;D Australasia">Why Choose Us</a></li>
				<li><a href="{url}web.php?p=1003" title="A&amp;D Global Companies">Global</a></li>
				<li><a href="{url}web.php?p=1013" title="A&amp;D Australian Offices">Offices</a></li>
				<li><a href="{url}web.php?p=1004" title="Contact A&amp;D Mercury">Contact Us</a></li>
				<!--<li><a href="{url}web.php?p=1018" title="Restircted Partner Access Area">Partner Access</a></li>-->
        		<li><a href="http://dealers.andmercury.com.au/web.php?p=1018" title="Restircted Partner Access Area">Partner Access</a></li>
				<li><a href="{url}web.php?p=1007" title="Find Out About Trade Approvals">Trade Approval</a></li>
				<li><a href="{url}web.php?p=1024" title="AND Platinum partners and useful links">Partners & Links</a></li>
				</ul>
			</div>
		</div>	
<!-- apr2011: end new menu area -->		
	</div>