<div class="content">
  <h2>A&amp;D Scale &amp; Equipment Hire &amp; Hire to Own</h2>
  <div class="right">
    <div class="product_img">
      <img src="{prod_img_path}scales/CS-FC-i.jpg" alt="CS-FC-i.jpg"/>
    </div>
  <table cellpadding="0" cellspacing="26" border="0">
    <tr>
      <td style="border: 1px solid black;">
          <img src="{prod_img_path}scales/small/SB-ELP_Series.jpg" width="85" height="85" alt='SB-ELP Series.jpg'/>
      </td>
      <td style="border: 1px solid black;">
          <img src="{prod_img_path}scales/small/SB-HVG-WP.jpg" width="85" height="85" alt='SB-HVG-WP.jpg'/>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black;">
          <img src="{prod_img_path}balances/small/AE-MS-70.jpg" width="85" height="85" alt='AE-MS-70.jpg'/>
      </td>
      <td style="border: 1px solid black;">
          <img src="{prod_img_path}scales/small/SB-HW-KG-LV.jpg" width="85" height="85" alt='SB-HW-KG-LV.jpg'/>
      </td>
    </tr>
  </table>
  </div>
  <p>
    A&amp;D Mercury offers a large range of weighing equipment available for short or long term hire, as well as our new <b>Hire to Own</b> option.
  </p>
  <p>
  Although hiring allows you to acquire equipment you require today without a large upfront cash outlay, many customers like to have the option of owning their equipment.</p>
  <p>To assist our customers A&D now offers the option of owning your equipment after a mutually agreed minimum hire period (typically 24 months). The equipment may then be purchased by paying an amount equal to one month's hire. For a total of 25 payments it's yours. There's no obligation to purchase however the minimum hire periods apply.
  </p>
  <p>
    A&amp;D Mercury hire equipment includes Counting Scales, Pallet Scales, Platform Scales, Compact Balances, Digital  Indicators, Moisture Analyser's and Postal Scales.
  </p>
  <p>
    All hire equipment is checked and calibrated prior to dispatch. A calibration certificate can be provided for quality assurance purposes if required.
  </p>
  <p>
    For further information on any of our hire options, please fill in our <a href="web.php?p=1004&amp;s=hire">contact form.</a>
  </p>
  <table width="55%" border="0" cellspacing="0" cellpadding="0" class="table">
		<thead>
			<tr>
				<td colspan="4">The Benefits of Hiring</td>
			</tr>
		</thead>
		<tbody>
    <tr>
      <td class="title">No Large Cash Outlay</td>
      <td>Hiring allows you to acquire equipment you require today without a large upfront cash outlay. You only need to pay your first hire installment.</td>
    </tr>
    <tr>
      <td class="title">No expensive repairs.</td>
      <td>All hire equipment that fails due to product failure will be repaired free of charge, for the length of the hire period.</td>
    </tr>
    <tr>
      <td class="title">Ability to upgrade.</td>
      <td>Upgrade to the latest equipment to keep up with changes in technology or as your requirements change. (Once you have completed the agreed hire period).</td>
    </tr>
    <tr>
      <td class="title">Tax deductible payments.</td>
      <td>If you are hiring solely for business purposes your hire payments may be 100% tax deductible.</td>
    </tr>
    <tr>
      <td class="title">You can apply to buy at any time.</td>
      <td>You can apply to buy the products you are hiring at any time.</td>
    </tr>
    <tr>
      <td class="title">Keep track of your accounts.</td>
      <td>You can hire multiple products all on the one A&amp;D Mercury account. </td>
    </tr>
    <tr>
      <td class="title">Convenient payment options.</td>
      <td>C.O.D. (cash or cheque) Credit Cards. (Visa, Master Card &amp; Amex) Direct Bank Deposit.</td>
    </tr>
    </tbody>
  </table>
</div>
