<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

  <title>{title_context} - A&amp;D Weighing Pty Ltd</title>
  <link href="{url}css/base.css" rel="stylesheet" type="text/css" />
  <link href="{url}css/andmerc.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="http://www.andmercury.com.au/images/favicon.ico"/>
  <!--<meta http-equiv="description" content="A&amp;D Mercury is a leading manufacturer of weighing equipment in Australia. Our range of products covers Scales, Balances, Load Cells, Indicators, Baseworks and Programmable Measurement Control."/>-->
  <!--<meta http-equiv="keywords" content="Scales, Light Industrial Scales, Heavy Industrial Scales, Counting Scales, Retails Scales, Hospital/Personal Health Scales, Analytical Balances, Compact Balances, Precision Balances, High Capacity Precision Balances, Moisture Analysers, Wheel Chair Scales, Bed Scales, Chair Scales, Indicators, Process Control, DSP, Programmable Measurement &amp; Control Systems, Control Systems, Load Cells, Shearbeams, Weigh Bars, Baseworks, Postal Scales, Viscometers, Thickness Guages, Remote Displays, Wireless Communication"/>-->
	<meta http-equiv="description" content="{meta-desc}"/>
	<meta http-equiv="keywords" content="{meta-keywords}"/>
<!-- apr2011: start new added script apr2011 -->

		<script type="text/javascript" src="{url}js/swfobject.js"></script>

		
		<script type="text/javascript">
			var vars = { domain:"*"};
			var params = {
				menu: "false",
				quality: "high",
				scale: "noscale",
				salign: "tl",
				wmode: "opaque",
				<!-- change the background of the main flash file -->
				bgcolor: "#f8f8f8",
				allowscriptaccess: "always",
				allowfullscreen:"false"
			};
			var attributes = {name:"flashcontent", id:"flashcontent1"};
	
			swfobject.embedSWF("slideshow.swf?xmlPath=slideshow.xml", "flashcontent1", "606", "160", "10.0.0", "js/expressInstall.swf",vars,params,attributes);
		
		</script>	
	
<!-- apr2011: end new added script -->
</head>
<body>
  <a name="top"></a>
  <div id="container">
    {header}
    <div id="body">
      {menu2}
      <div id="content">
        {notice}
        {content}
        <!-- right column -->
		  	<div id="right">
          {newsbox}
   			</div>
	  		<!-- end right column -->
			</div>
		<!--<div id="footer">
			{footer}
		</div>-->
    </div>
  </div>
  <!-- INSERT GOOGLE ANALYTICS TRACKING CODE HERE -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-388005-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>