<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

  <title>{title_context} - A&amp;D Weighing Pty Ltd</title>
  <link href="{url}css/base.css" rel="stylesheet" type="text/css" />
  <link href="{url}css/andmerc.css" rel="stylesheet" type="text/css" />
  <link href="{url}css/mydealers.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="http://www.andmercury.com.au/images/favicon.ico"/>
  <!--<meta http-equiv="description" content="A&amp;D Mercury is a leading manufacturer of weighing equipment in Australia. Our range of products covers Scales, Balances, Load Cells, Indicators, Baseworks and Programmable Measurement Control."/>-->
  <!--<meta http-equiv="keywords" content="Scales, Light Industrial Scales, Heavy Industrial Scales, Counting Scales, Retails Scales, Hospital/Personal Health Scales, Analytical Balances, Compact Balances, Precision Balances, High Capacity Precision Balances, Moisture Analysers, Wheel Chair Scales, Bed Scales, Chair Scales, Indicators, Process Control, DSP, Programmable Measurement &amp; Control Systems, Control Systems, Load Cells, Shearbeams, Weigh Bars, Baseworks, Postal Scales, Viscometers, Thickness Guages, Remote Displays, Wireless Communication"/>-->
	<meta http-equiv="description" content="{meta-desc}"/>
	<meta http-equiv="keywords" content="{meta-keywords}"/>
<!-- apr2011: start new added script apr2011 -->

		<script type="text/javascript" src="{url}js/swfobject.js"></script>

		
		<script type="text/javascript">
			var vars = { domain:"*"};
			var params = {
				menu: "false",
				quality: "high",
				scale: "noscale",
				salign: "tl",
				wmode: "opaque",
				<!-- change the background of the main flash file -->
				bgcolor: "#f8f8f8",
				allowscriptaccess: "always",
				allowfullscreen:"false"
			};
			var attributes = {name:"flashcontent", id:"flashcontent1"};
	
			swfobject.embedSWF("slideshow.swf?xmlPath=slideshow.xml", "flashcontent1", "606", "160", "10.0.0", "js/expressInstall.swf",vars,params,attributes);
		
		</script>	
	
<!-- apr2011: end new added script -->
</head>
<body>
  <a name="top"></a>
  <div id="top-bar">
	<div class="wrap-center">
		<div class="fl welcome">
		<ul>
			<li><a href="http://www.andaustralasia.com.au/">A&amp;D Australasia</a></li>
			<li><a href="http://www.andmedical.com.au/">A&amp;D Medical</a></li>
			<li><a href="http://www.techeng.com.au/">A&amp;D Techeng</a></li>
			<li><a class="button small round grey" href="http://www.andweighing.com.au/partner-login">Partner Login</a></li> 
		</ul>
		</div>
		<div class="fr">
			<p class="toptollfree">
				<a class="button small round grey" href="http://www.andweighing.com.au/contact-us">Contact us</a> &nbsp;&nbsp;&nbsp;08 8301 8120
			</p>
		</div>
		<div class="clear"></div>
	</div>
  </div>
  <div id="menu-logo">
	<div class="wrap-center">
		<div id="logo">
			<a href="http://www.andweighing.com.au/"><img height="60" width="120" alt="A&D Weighing" src="http://www.andweighing.com.au/wp-content/themes/Minimal/gui/images/logo_andweighing.png"></a>
		</div>
		<div id="cartsearch">
			<div id="search">
				<form id="searchform1" action="http://www.andweighing.com.au/" method="get">
					<input id="searchinput" type="text" onclick="this.value='';" value="search this site..." name="s">
					<input class="submit" type="submit" name="submit" value="">
				</form>
			</div>
		</div>
		<div id="sitemenu">
		<ul id="css3menu1" class="topmenu">
						<li class="topmenu"><a  href="http://www.andweighing.com.au/company/about-us" title="Company" style="height:16px;line-height:16px;"><span>Company</span></a>
						</li>
						<li class="topmenu"><a  href="http://www.andweighing.com.au/why-choose-ad/belief-statement" title="Why choose A&D" style="height:16px;line-height:16px;"><span>Why choose A&amp;D</span></a>
						</li>
						<li class="topmenu"><a  href="http://www.andweighing.com.au/products" title="Products" style="height:16px;line-height:16px;"><span>Products</span></a>
						</li>
						<li class="topmenu"><a  href="http://www.andweighing.com.au/resources/trade-approvals" title="Resources" style="height:16px;line-height:16px;">Resources</a>
						</li>
						<li class="topmenu"><a  href="http://www.andweighing.com.au/support/warranty" title="Support" style="height:16px;line-height:16px;">Support</a>
						</li>	
						<li class="topmenu"><a  href="http://www.andweighing.com.au/category/latest-news" title="News & Media" style="height:16px;line-height:16px;"><span>News &amp; Media</span></a>
						</li>					
					</ul>

		</div>
		<div class="clear"></div>
	</div>
	
	<div class="wrap-center heading-inner"></div>
  </div>
  <div id="content-area-home">
	  <div class="wrap-center">
			{menu2}
			<div id="content">
				{notice}
				{content}
				<div id="right"><!-- right column -->
					{newsbox}
				</div><!-- end right column -->
		    </div>			
		
	  </div>

	  <!--div id="footer">
		testing		{footer}
	  </div-->
	<div class="clear"></div>
  </div>
  <div id="footer">
	<div id="footer-link-columns">
		<div class="wrap-center">
			<div class="panelfooter">
               <h3>Why choose A&D</h3>
                <ul>
                    <li><a href="http://www.andweighing.com.au/why-choose-ad/belief-statement" title="Belief statement ">Belief statement </a></li>
                    <li><a href="http://www.andweighing.com.au/why-choose-ad/testimonials" title="Testimonials ">Testimonials </a></li>

                    <li><a href="http://www.andweighing.com.au/category/news-media/latest-news" title="Latest news ">Latest news</a></li>
                    <li><a href="http://www.andweighing.com.au/newsletters" title="Newsletters">Newsletters</a></li>
                    <li><a href="http://www.andweighing.com.au/videos" title="Videos">Videos</a></li>
                    <li><a href="http://www.andweighing.com.au/shipping-warranty" title="Shipping & Warranty">Shipping & Warranty</a></li>
                    <li><a href="http://www.andweighing.com.au/terms-and-conditions" title="Terms & Conditions">Terms & Conditions</a></li>

                </ul>
                </div>

                <div class="panelfooter">
                    <h3>Products</h3>
                <ul>
                    <li><a href="http://www.andweighing.com.au/category/products-service/automation-checkweighing" title="Automation & Checkweighing">Automation & Checkweighing</a></li>

                    <li><a href="http://www.andweighing.com.au/category/products-service/scientific-balances" title="Scientific balances">Scientific balances</a></li>
                    <li><a href="http://www.andweighing.com.au/category/products-service/industrial-scales" title="Industrial scales">Industrial scales</a></li>
                    <li><a href="http://www.andweighing.com.au/category/products-service/medical-weighing" title="Medical weighing">Medical weighing</a></li>
                    <li><a href="http://www.andweighing.com.au/category/products-service/indicators-controller" title="Indicators & Controllers">Indicators & Controllers</a></li>
                    <li><a href="http://www.andweighing.com.au/category/products-service/load-cells" title="Load cells">Load cells</a></li>
                </ul>

                </div>

                <div class="panelfooter">
                <ul style="margin-top:43px;">
                    <li><a href="http://www.andweighing.com.au/category/products-service/analytical-measurement" title="Analytical measurement ">Analytical measurement </a></li>
                    <li><a href="http://www.andweighing.com.au/category/products-service/software" title="Data Capture Software">Data capture software</a></li>
                    <li><a href="http://www.andweighing.com.au/category/products-service/accessories" title="Accessories">Accessories</a></li>
                    <li><a href="http://www.andweighing.com.au/support/service-hire" title="Service & Hire ">Service & Hire </a></li>

                    <li><a href="http://www.andweighing.com.au/support/help-faqs" title="Help & FAQs">Help & FAQs</a></li>
                    <li><a href="http://www.andweighing.com.au/support/brochures" title="Brochures">Brochures</a></li>
                    <li><a href="http://www.andweighing.com.au/resources/trade-approvals" title="Trade Approvals">Trade Approvals</a></li>
                </ul>
                </div>

				<div class="panelfooter">

                    <h3>About us</h3>
                    <div class="textwidget">A&D has an extensive range of measurement & testing products as well as a highly skilled local team for factory automation, system design. <a href="http://www.andweighing.com.au/company">More &raquo;</a></div>
                </div>

                <div class="panelfooter" style="width: 165px;">
                    <h3>Contact</h3>

                    <div class="textwidget">
                        <b>Call</b><br/>08 8301 8120<br/>
                        <br/>
                        <b>Email:</b><br/>
                        <a href="mailto:support@andaustralasia.com.au ">support@andaustralasia.com.au </a><br/>
                    </div>
        		</div>

			<div class="clear"></div>
		</div>
	</div>
	<div id="footer-bottom">
    <div class="wrap-center">

        <div class="fl copy">
            &copy; 2011. All rights reserved. All material and images on this site are copyright A&amp;D Australasia Pty Ltd. | <a href="http://www.andweighing.com.au/privacy-statement" title="Privacy Statement">Privacy Statement</a>
        </div>
        <div class="fr soclials">
            <ul>
                <li class="social-item">
                    <a href="http://www.youtube.com/user/AandDAustralia" target="_blank"><img src="http://www.andweighing.com.au/wp-content/themes/Minimal/gui/images/social/youtube.png" width="29" height="29" alt="YouTube" /><br/>

                    YouTube</a>
                </li>
                <li class="social-item">
                    <a href="http://twitter.com/ANDaustralasia" target="_blank"><img src="http://www.andweighing.com.au/wp-content/themes/Minimal/gui/images/social/twitter.png" width="29" height="29" alt="Twitter" /><br/>
                    Twitter</a>
                </li>
                <li class="social-item">
                    <a href="http://www.facebook.com/AandD.Australasia" target="_blank"><img src="http://www.andweighing.com.au/wp-content/themes/Minimal/gui/images/social/facebook.png" width="29" height="29" alt="Facebook" /><br/>

                    Facebook</a>
                </li>
                <li class="social-item">
                    <a href="http://www.andweighing.com.au/feed" target="_blank"><img src="http://www.andweighing.com.au/wp-content/themes/Minimal/gui/images/social/rss.png" width="29" height="29" alt="RSS" /><br/>
                    RSS</a>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
     </div>
</div>
  </div>
  <!-- INSERT GOOGLE ANALYTICS TRACKING CODE HERE -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-388005-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>