<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>A&amp;D Mercury Pty Ltd - {title_context}</title>
  <link href="{site_url}css/base.css" rel="stylesheet" type="text/css" />
  <link href="{site_url}css/andmerc.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="http://www.andmercury.com.au/images/favicon.ico"/>
  <meta http-equiv="description" content="{meta-desc}"/>
  <meta http-equiv="keywords" content="{meta-keywords}"/>
</head>
<body>
  <a name="top"></a>
  <div id="container">
    {header}
    <div id="body">
      {menu2}
      <div id="content">
        {notice}
        {content}
        <!-- right column -->
		  	<div id="right">
          {newsbox}
   			</div>
	  		<!-- end right column -->
			</div>
    </div>
  </div>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-388005-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>