				<div class="right_bg">
<!--					<h3 align="center"> <span style="color:#FF0000">C</span>ustomer <span style="color:#FF0000">S</span>atisfaction <span style="color:#FF0000">I</span>ndex<br />
						<a href="http://www.andmercury.com.au/web.php?p=1010" title="View CSI Details" style="font-size:160%">0.86</a> </h3>
					<hr />-->
					<h3 align="center"><a href="{url}web.php?p=1011">News &amp; Events</a></h3>
					<ul class="news">
          <!-- BEGIN news_date -->
            <li style="padding: 5px 0 0px 0; margin:0;">{new}<font color="black">{date}</font></li>
            <!-- BEGIN news_items -->
            <li><p style="padding: 5px 0 1px 0; margin: 0; font-weight: bold;"><a href="{link}{date1}">{title}</a></p></li>
        		<!-- END news_items -->
          <!-- END news_date -->
          </ul>
				</div>
				<div style="float: right;width: 179px;">
          <script src="http://bellme.bellmedia.com/but01/bellme_api.php?bmId=ae3d4f35ab20580affb20e21ff9461cf" type="text/javascript"></script>
          <noscript><a href="http://www.bellmedia.com/index.php?page=dir&amp;sid=1235019575">A &amp; D Mecury Click To Free Call</a></noscript>
        </div>
        <div class="clear"></div>
				<p style="text-align:center"><a href="http://www.scienceindustry.com.au/" target="_blank"><img src="{url}images/SIA5cm.jpg" border="0" alt="Science Industry Logo" title="Science Industry Logo"/></a> </p>

