<!-- No Software download available -->
<a href="web.php?p={pcode}">Return to Software Description</a>
<p>
Sorry, This software is not available as a free download. To request this software please fill in the details below and one of our Sales representatives will contact you with further information.
</p>
<form action="web.php?p=1009" method="post">
  <input type="hidden" name="mode" value="software"/>

  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
		<thead>
			<tr>
				<td width="110px">Software:</td>
				<td>{software}<input type="hidden" name="software" value="{software}"/></td>
			</tr>
		</thead>
		<tbody>
    <tr>
      <td><b>Name:</b></td>
      <td><input type="text" name="name"/></td>
    </tr>
    <tr>
      <td><b>Email:</b></td>
      <td><input type="text" name="email"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit"/></td>
    </tr>
  </table>
</form>