<div class="content">
  <!--<div class="newsbox">
    <h3>Product Links</h3>-->
    <ul class="req_downloads">
      <li><a href="http://www.getfirefox.com/"><img src="images/get.gif" border="0" alt="Get Firefox"/></a></li>
      <li><a href="http://www.microsoft.com/windows/ie/default.mspx"><img src="images/IE_6_v06.gif" border="0" alt="Download Internet Explorer"/></a></li>
      <li><a href="http://www.adobe.com/products/acrobat/readstep2.html"><img src="images/getacro.gif" border="0" alt="Download Adobe Reader"/></a></li>
      <li><a href="http://www.macromedia.com/go/getflashplayer/"><img src="images/get_flash_player.gif" border="0" alt="Download Flash Player"/></a></li>
    </ul>
  <!--</div>-->
  <h2>Site Requirements</h2>
  <p>
    There are some minimum requirements that your computer will need to meet
    to successfully view some parts of this site.
  </p>
  <p>
    Addittionally there is also some software required to view product brochures
    and animations that are provided on the Site.
  </p>
  <p>
    Please check that your computer meets the minimum requirements listed below:
  </p>

<!--  <h3>Minimum Requirements:</h3>
  <ul>
    <li>Screen Resolution: 800x600 (All information is available, however it's appearance may not be as expected.)</li>
    <li>FireFox 1.0+ or Internet Explorer 5.5+</li>
    <li>JavaScript Capable Browser (With JavaScript Enabled)</li>
  </ul>
-->
  <h3>Recommended Requirements:</h3>
  <ul>
    <li>Screen Resolution: 1024x768</li>
    <li>Firefox 1.0+ or Internet Explorer 6</li>
    <li>JavaScript Capable Browser (With JavaScript Enabled)</li>
    <li>Broadband Internet Connection (A minimum of 512Kbs is recommended, but not required.)</li>
  </ul>

  <h3>The following Software is also required in some areas of the site:</h3>
  <ul>
    <li>Adobe Reader (Formerly Acrobat Reader)</li>
    <li>Flash Player</li>
  </ul>
  <p>
    Please note that we no longer support resolutions below 1024x768. If you are still using 800x600 as your screen resolution we would recommend upgrading to a monitor that supports at least 1024x768.
  </p>
</div>
