<div class="content">
<h2>Equipment Trade Approvals</h2>
<p>
This page lists the National Standards Commission trade approval certificates that have been issued to A&amp;D Mercury.
</p>
<p>A&amp;D Mercury can test and certify all products in their range that are approved for trade use by the National Standards Commission or National Measurement Institute of Australia.
See our <a href="web.php?p=1008">Certifications Page</a></p>
<table border="0" cellspacing="0" cellpadding="0" class="table">
	<thead>
		<tr>
			<td width="270">Model or Series</td>
      <td width="110">Certificate</td>
      <td width="270">Model or Series</td>
      <td width="110">Certificate</td>
		</tr>
	</thead>
	<tbody>
    <tr>
      <td class="small">GP-12KA; GP-20KA; GP-22KA; GP-30KA; GP-32KA; GP-60KA; GP-100KA; GP-102KA</td>
      <td class="small">6/4C/220</td>
      <td class="small">GF Series, GX Series, GX-K Series</td>
      <td class="small">6/4C/219</td>
    </tr>
    <tr>
      <td class="small">EW-i Series</td>
      <td style="font-size: 80%;">6/4C/230</td>
      <td style="font-size: 80%;">AD4405; AD4406; AD4407</td>
      <td style="font-size: 80%;">S451</td>
    </tr>
    <tr>
      <td class="small">SK-WP</td>
      <td class="small">6/4C/216</td>
      <td class="small">LCM-13 Series</td>
      <td class="small">S 446</td>
    </tr>
    <tr>
      <td class="small">A&amp;D 150</td>
      <td class="small">6/9C/250A</td>
      <td class="small">OHT600</td>
      <td class="small">6/18/17C</td>

    </tr>
    <tr>
      <td class="small">ELP 3000, A&amp;D 3000, ADM Weighbeams</td>
      <td class="small">6/9C/220B</td>
      <td class="small">AD4322MKII</td>
      <td class="small">S250B</td>
    </tr>
    <tr>
      <td class="small">HW-D</td>
      <td class="small">S354</td>
      <td class="small">AD4326A/B; AD4327A/B</td>
      <td class="small">S314</td>
    </tr>
    <tr>
      <td class="small">AD4323; AD4323DR; AD4324; AD4325</td>
      <td class="small">S251A</td>
      <td class="small">FG SERIES (Prior to 2005)</td>
      <td class="small">6/4C/81A</td>
    </tr>
    <tr>
      <td class="small">FS SERIES</td>
      <td class="small">6/4C/76A</td>
      <td class="small">FG-K Series (New Models since 2005)</td>
      <td class="small">6/9C/289</td>
    </tr>
    <tr>
      <td class="small">FS-KL SERIES</td>
      <td class="small">6/4C/82A</td>
      <td class="small">HV150KA1; HV150KB1; HV150KB1WP; HV60KA1; HV60KB1; HV60KB1WP; HV30KA2; HV30KB2; HV30KB2WP; HW300KA4; HW300KB4</td>
      <td class="small">6/9C/250A</td>
    </tr>
    <tr>
      <td class="small">LC5217 <br/>(Certificate has lapsed, applicable to replacements only)</td>
      <td class="small">S287</td>
      <td class="small">SA-15</td>
      <td class="small">6/4D/284</td>
    </tr>
    <tr>
      <td class="small">HV-G SERIES (including HVG-WP)</td>
      <td class="small">6/9C/268</td>
      <td class="small">AD4329</td>
      <td class="small">S387</td>
    </tr>
    <tr>
      <td class="small">AD4328</td>
      <td class="small">S343A</td>
      <td class="small">SF/SG Series; CW Series; SW Series</td>
      <td class="small">6/4D/291</td>
    </tr>
    <tr>
      <td class="small">AD4401</td>
      <td class="small">S362</td>
      <td class="small">AP-30 MKII/III</td>
      <td class="small">6/4C/210</td>
    </tr>
    <tr>
      <td class="small">EK-i</td>
      <td class="small">6/4C/243</td>
      <td class="small">LCC11 Load Cell</td>
      <td class="small">S410</td>
    </tr>
    <tr>
      <td class="small">FS-i Series</td>
      <td class="small">6/4C/250</td>
      <td class="small">SB Basework Series</td>
      <td class="small">6/9C/291</td>
    </tr>
  </tbody>
</table>
</div>
