	<div id="header">
		<div id="logo">
			<h1><a href="./" title="Go to the Main Index">Home</a></h1>
		</div>
		<div id="menu">
			<ul>
  			<li><a href="{site_url}web.php?p=10001" title="Go to the Dealer Admin Home">Dealer Administration Home</a></li>
				<!--<li><a href="{url}web.php?p=1001" title="Go to the Main Index">Home</a></li>
				<li><a href="{url}web.php?p=1002" title="About A&amp;D Mercury">About Us</a></li>
				<li><a href="{url}web.php?p=1003" title="A&amp;D Global Companies">Global</a></li>
				<li><a href="{url}web.php?p=1013" title="A&amp;D Australian Offices">Offices</a></li>
				<li><a href="{url}web.php?p=1004" title="Contact A&amp;D Mercury">Contact Us</a></li>
				<li><a href="{url}web.php?p=1018" title="Restircted Dealer Access Area">Dealer Access</a></li>
				<li><a href="{url}web.php?p=1007" title="Find Out About Trade Approvals">Trade Approval</a></li>-->
			</ul>
		</div>
	</div>
