	<div class="menu1">
   <ul class="menu1">
    &nbsp;
		  <li><a href="{site_url}web.php?p=10001" title="Go to the Dealer Admin Home">Dealer Administration Home</a></li>
<!--			<li><a href="web.php?p=1002" title="About A&amp;D Mercury">About</a> &nbsp;|</li>
			<li><a href="web.php?p=1003" title="A&amp;D Global Companies">Global</a> &nbsp;|</li>
      <li><a href="web.php?p=1013" title="A&amp;D Australian Offices">Offices</a> &nbsp;|</li>
      <li><a href="web.php?p=1004" title="Contact A&amp;D Mercury">Contact Us</a> &nbsp;|</li>
			<li><a href="web.php?p=1018" title="Restircted Dealer Access Area">Dealer Access</a> | </li>
      <li><a href="web.php?p=1007" title="Find Out About Trade Approvals">Trade Approvals</a>&nbsp;|</li>-->
    </ul>
	</div>
