<div class="content">
  <h2>Dealer Administration Reports</h2>
<!--
  <table class="cap_info" border="0" cellspcing="0" cellpadding="2">
    <tr>
      <form method="post" action="web.php?p=10002&m=reports&rep=1">
        <td><input type="submit" value="Recent Access Report" size="300"/></td>
        <td>Dealers who have accessed the site in the last <input type="text" name="rtime" size="3"/> days.</td>
      </form>
    </tr>
    <tr>
      <form method="post" action="web.php?p=10002&m=reports&rep=2">
        <td><input type="submit" value="Most Active Report" size="30"/></td>
        <td>A complete list of Dealers showing those who most frequently access the site at the top.</td>
      </form>
    <tr>
    <tr>
      <form method="post" action="web.php?p=10002&m=reports&rep=3">
        <td><input type="submit" value="Activity by Company Report" size="30"/></td>
        <td>Please enter a dealer code: <input type="text" name="ccustno" size="7"/></td>
      </form>
    <tr>
  </table>
-->
<p>
  Please ensure that you have filled in the data field for your report before exectuing it.
</p>
  <table class="table" border="0" cellspcing="0" cellpadding="2">
    <tr>
      <form method="post" action="web.php?p=10002&m=reports&rep=1">
        <td width="250px" style="border-bottom: 1px solid #dddddd;"><h3 style="margin: 0 0 0 0; padding: 0 0 0 0;">Recent Access Report</h3></td>
        <td width="400px" style="border-bottom: 1px solid #dddddd;">Dealers who have accessed the site in the last <input type="text" name="rtime" size="3"/> days.</td>
        <td width="50px" style="border-bottom: 1px solid #dddddd;"><input type="submit" value="Execute" size="300"/></td>
      </form>
    </tr>
    <tr>
      <form method="post" action="web.php?p=10002&m=reports&rep=2">
        <td style="border-bottom: 1px solid #dddddd;"><h3 style="margin: 0 0 0 0; padding: 0 0 0 0;">Most Active Report</h3></td>
        <td style="border-bottom: 1px solid #dddddd;">A complete list of Dealers showing those who most frequently access the site at the top.</td>
        <td style="border-bottom: 1px solid #dddddd;"><input type="submit" value="Execute" size="30"/></td>
      </form>
    <tr>
    <tr>
      <form method="post" action="web.php?p=10002&m=reports&rep=3">
        <td style="border-bottom: 1px solid #dddddd;"><h3 style="margin: 0 0 0 0; padding: 0 0 0 0;">Activity by Company Report</h3></td>
        <td style="border-bottom: 1px solid #dddddd;">Please enter a dealer code: <input type="text" name="ccustno" size="7"/></td>
        <td style="border-bottom: 1px solid #dddddd;"><input type="submit" value="Execute" size="30"/></td>
      </form>
    <tr>
    <tr>
      <form method="post" action="web.php?p=10002&m=reports&rep=4">
        <td style="border-bottom: 1px solid #dddddd;"><h3 style="margin: 0 0 0 0; padding: 0 0 0 0;">Disabled Dealers</h3></td>
        <td style="border-bottom: 1px solid #dddddd;">A List of dealers whose access to the system has been disabled.</td>
        <td style="border-bottom: 1px solid #dddddd;"><input type="submit" value="Execute" size="30"/></td>
      </form>
    <tr>
  </table>
</div>