<div class="content">
<h2>Administrator Login</h2>
<p>Please log in to gain access to the Administration Site</p>
<form action="web.php?p=10001" method="post">
  <input type="hidden" name="login" value="login"/>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><input type="text" name="ccustno" value="ADME01" disabled/></td>
    <tr>
    <tr>
      <td>Username</td>
      <td><input type="text" name="cusername"/></td></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="cpassword"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit"/></td>
    </tr>
  </table>
</form>
</div>
