<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">Welcome to 2009</h2>
  <span style="font-size: small">19th January 2009</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <p>
  A&D Mercury wishes all of it’s customers and associates a very Happy New Year.
  </p>
  <p>
As 2009 opens we remain committed to providing the highest levels of service to our customers.
We hope the year brings prosperity to both you and your business.
Continue to visit our website frequently to see and experience many new customer service initiatives during this coming year.
  </p>
  <p>
Here’s to a great 2009. 
  </p>
</fieldset>
<br/>
