<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">Times are Tough... The Dolphins are saving us!</h2>
  <span style="font-size: small">19th January 2009</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <img style="float: left;padding-right: 1em;" src="{img}dolphin_vert.jpg"/> 
  <p>
We all know A&D as Australia's leading weighing instrumentation manufacturer and exporter. So what the hell does that have to do with underwater mammals?? Dolphins are highly intelligent and love water - we had to use this name for the only high speed, high tech, check weighing system made in Australia and matching it with the world's best. 
  </p>

  <p>
  Even though the doomsayers are sprouting economic Armageddon all around us, it seems it hasn’t stopped some key local manufacturers from reaping the financial benefits of installing our proudly Australian Dolphin Checkweigher.  During December we were flat out with some more installations and now these companies have production in full swing for the New Year and our systems are steaming along beautifully.   The excitement continues as we have more orders to fill in the coming weeks.
  </p>
  <p>
It’s amazing how many customers don’t realise the benefits to be gained by looking at some simple questions…   How much profit do they give away each day? How exposed are they to potential legal action from underweight product?  Mere grams of product amount to serious $$ over time, not to mention those occasional "underfills" that let their customers down, or worse still, risk prosecution from Trade Measurement authorities.  Investing in our Dolphin minimises these issues and quickly grows the bottom line.
  </p>
  <p>
  A&D are proud to have developed the Dolphin right here in Oz. Unlike our respected competitors from the Northern hemisphere, you can deal directly with the manufacturer's engineers to customise a solution for you. Designed to perform in Australia's demanding manufacturing sector... food, beverage, pharma, chemicals, logistics, to name just a few, the Dolphin is tough, fast, precise and most importantly, supported locally in almost every corner of our great country.
  </p>
  <p>
  See our <a href="http://www.andmercury.com.au/web.php?p=2100&pp=&pcat=checkweighers">DOLPHIN Webpage</a> for the full information.  It could be the investment that saves you thousands.  Don’t wait – there has never been a more critical time to improve your bottom line.
  </p>
</fieldset>
<br/>