<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">A&amp;D Mercury are pleased to announce the launch of their new website.</h2>
  <span style="font-size: small">4th June 2007</span>
  <hr align="left" style="padding: 0; margin: 0; width: 20em;"/>
  <br/>
  <p>
    The new format features the functionality that has made the ADM site so popular with our customers, combined with an attractive and professional presentation.
  </p>
  <p>
  A number of new areas are available on the site including a <a href="{url}web.php?p=1021">Service and Repair Request</a> Page and a <a href="{url}web.php?p=1020">Frequently Asked Questions</a> section.
  New products are also featured including the new <a href="{url}web.php?p=1119&amp;pp=1187">FX-i Precision Top Pan balance.</a>
  </p>
  <p>
  A further highlight of the new site is the addition of an <a href="{url}web.php?p=2100">In Line Checkweighers</a> section which showcases the various models available in the Dolphin Checkweigher series.
  Full colour brochures are available for virtually all models on display including new entries such as the <a href="{url}web.php?p=1330&amp;pp=1390">BCS Bariatric Chair Scale</a> and <a href="{url}web.php?p=1331&amp;pp=1390">PW-200 Personal Scale.</a>
  </p>
  <p>
  A simple navigation and description system ensures you have fast and easy access to the information that you need.
  <a href="{url}web.php?p=1007">Trade approval information</a> is readily available for all A&amp;D Mercury models to assist with <a href="{url}web.php?p=1008">certification</a> issues.
  </p>
  <p>
  We hope you are able to take the time to look around the new site and familiarise yourself with it’s features and, as always, we welcome any <a href="{url}web.php?p=1004&amp;s=web">feedback</a> from you with regards to improvements to the site.
  </p>
  <p>
    The A&amp;D Mercury Team
  </p>
</fieldset>
<br/>
