<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">A&amp;D Mercury Welcomes New Technician</h2>
  <span style="font-size: small">26th October 2007</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <img src="{url}{img}MatthewsPresentation.jpg" style="float:right;" width="454" height="340">
  <p>
  A&D Mercury welcomed a new qualified technician to the Service Department when Matthew Warne completed his apprenticeship recently.
  </p>
  <p>
Matthew, who most of our dealers would recognise from his organised and helpful manner over the phone, has been with the company for 4 years commencing his employment in 2003.
</p>
<p>
A very popular member of the A&D Mercury team, Matthew has only recently returned from a 6 week holiday to Europe where he took in a great deal of the local culture and quite a bit of the local beverage.
</p>
<p>
Tom Armstrong, the MD at A&D Mercury, presented Matthew with an award at a ceremony involving all staff at the Adelaide head office, where Mathew is based.
</p>
<p>
Matthew is the first apprentice that A&D Mercury have had complete their training period in many years and such has been Matthew’s success that the company has now committed to more apprentices in coming years.
</p>
<p>
A keen sportsman, Matthew has had several periods of absence during his apprenticeship due to a catalogue of injuries, a broken arm received playing football being the most notable, he also competes in the turf cricket competition during the summer.
</p>
<p>
If you have the opportunity to speak with Matthew in the service department take the chance to congratulate him on the achievement.
</p>
<p>
For those of you who only know Matthew by voice you can now put a face to the name by the photo attached.
  </p>
<p style="font-weight: bold;">Congratulations Matthew from all at A&amp;D Mercury!</p>
</fieldset>
<br/>
