<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">High Achiever &amp; Dealer Meeting 2007</h2>
  <span style="font-size: small">21st September 2007</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <img style="float:right" src="{url}{img}HAMpic2.jpg" alt="Rydges Resort, Yeppon" title="Rydges Resort, Yeppon"/>
  <p>
    A&amp;D Mercury held a highly successful Dealer meeting during the week of the 6th of August at the Rydges Resort at Yeppoon which is situated on the Capricornia Coast just North East of Rockhampton.
  </p>

  <p>
    The weeks activities at the resort included the annual High Achievers meeting. 
    The High Achievers Meeting, as always, provided an opportunity for our top ranking customers to discuss issues with us in an informal and relaxed setting.
    This year the High Achiever Meeting included a brand new initiative with the inclusion of a guest speaker, Craig Lewis, who gave an excellent presentation titled “Kaizen Kiwis”
  </p>
  <p>
    The High Achievers were also treated to an excellent day trip to Great Keppel Island.
    The Dealer meeting format was designed to be informative but also to provide our customers with an opportunity to provide feedback, in a group setting, regarding the products and services we provide.
  </p>
  <img style="float:left; padding-right: 1em;" src="{url}{img}HAMpic1.jpg" alt="A&amp;D Mercury Dealer Meeting" title="A&amp;D Mercury Dealer Meeting"/>
  <p>
    Presentations varied from product updates from ADM’s sales team, through to a Trade Approval overview presentation from Adrian Caster of the National Measurement Institute.
    We were also extremely fortunate to have three members of A&amp;D Company Japan in attendance at the meeting, who gave us an insight into the exciting new products that are on the way in the near future.
  </p>
  <p>
    Two dinners were held for all attendees of the meeting and their partners, with a trivia night featuring on the Thursday evening which was fiercely contested, but great fun. 
    We hope that the meeting provided all attendees with an enjoyable but beneficial time and we hope to see more of our dealers in attendance at the next one.
  </p>
</fieldset>
<br/>
