<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">Sensational Offer  of FS-15KA 15kg Stainless Steel Bench Scales.</h2>
  <span style="font-size: small">3rd October 2007</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <img style="float:right;margin-left: 1em;" src="{url}{prod_img_path}scales/SB-FS_Series.jpg" alt="FS-15KA 15kg Stainless Steel Bench Scale" title="FS-15KA 15kg Stainless Steel Bench Scale" width="250" height="250"/>
  <p>
  A&amp;D Mercury has recently aquired a large quantity of the popular, Australian made, FS-15KA wet area scale. Many thousands of these scales have been sold to Australian customers over the past 10 years.
  </p>
  <p>
  The FS-15KA is a tried and proven performer in wet areas and is approved for trade use. 
  </p>
  <p>
  This aquisition has enabled A&amp;D Mercury Authorised Dealers to offer their customers unparalleled discounts on the FS-15KA. 
  </p>
  <p>
  Please contact us via our <a href="{url}web.php?p=1004">Sales Enquiry Form</a> or freecall <span class="bold">1800 241 434</span> for details of your closest Authorised A&amp;D Mercury Dealer.
  </p>
</fieldset>
<br/>
