<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">New DL Booklet Brochure</h2>
  <span style="font-size: small">8th November 2007</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <img style="float: right; padding-left: 2em;" src="{url}{img}Medical_Products_Catalogue_1.jpg" witdh="126" height="265"/>
  <p>
    A&amp;D Mercury are pleased to advise of the latest additon to the highly successful range of DL Booklet Brochures.
    The latest booklet features the range of Medical and Healthcare Products produced by A&amp;D Mercury.
  </p>
  <p>  
    This industry sector is one that offers great potential growth opportunities and should be an area that you consider with your future marketing.
  </p>
  <p>
    The booklets have proved particularly popular for dedicated mailouts where a brief overview of our product range is required but they are equally as handy for slipping into the envelope when posting your invoices to your clients.
    The booklets, as always, allow for the addition of your own particular details to ensure maximum return on your marketing efforts.
  </p>
  <p>
    The booklets are available now so contact your A&amp;D Mercury representative for your supply of this great new brochure.
  </p>
  <p>
  <span style="font-weight: bold;">A&amp;D Mercury.....Excellence in Measurement.</span>
  </p>
</fieldset>
<br/>
