<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">New Years News</h2>
  <span style="font-size: small">8th February 2008</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <p>
    A belated Happy New Year to all, by now we are sure you are heavily back into the swing of business and those lazy holiday afternoons are just a distant memory.
    Things have been happening at ADM also and below are a couple of the noteworthy events for the year so far.
  </p>
  <h4>New Victorian Office</h4>
    <img style="float:right;padding-left: 1em;padding-bottom: 3em;" src="{url}{img}New Victorian Office News Item.jpg" alt="A&amp;D Merucry's New Victorian Office" title="A&amp;D Merucry's New Victorian Office" width="300" height="229"/>
  <p>
    For those of you who have used the landmark “Do you measure up” sign to navigate your way to the Victorian office of A&D Mercury, a slight change to your navigation coordinates will now be necessary.
  </p>
  <p>
    The Victorian staff have moved into a purpose built new office and warehouse facility located in the new Lloyd Street Business Complex which is a good stone’s throw from the old location.
  </p>
  <p>
    With a modern design and decor the new building offers excellent training and product support facilities including a designated area for training on the new Dolphin    Checkweigher with a complete conveyor system in operation.
    Large meeting rooms will also feature heavily in the coming months as they are utilised for new product launch events and business update meetings.
    An expansive store area also ensures that we should have most of your product requirements available ex stock in Melbourne.
    Please take the opportunity to call into the new premises and one of the ADM staff will be only too please to show you around.
    The official address is 39 Bakehouse Road Kensington, which is located off of Lloyd street.
  </p>


  <h4>Farewell to John Humphreys</h4>
  <img style="float:right;padding-left: 1em;" src="{url}{img}JHU News Item.jpg" alt="John Humphreys" title="John Humphreys" width="300" height="225"/>
  <p>
    A somewhat unpleasant event for ADM in the new year has been the departure of John Humphreys as our Territory 3 Sales Manager.
    John has been a valued member of the ADM team who we are sure will be missed by both his customers and those of us here internally, alike.
    John has taken a new career path and we wish him well in the future.
    We will keep you updated on our new appointment for Territory 3.
  </p>
 

  <h4>Watch This Space</h4>
  <p>
    Keep watching this news area for updates on new product releases and further product support initiatives.
    Three new products will be released in the next two months.

  </p>
</fieldset>
<br/>
