<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">ADM Release 2 New Products</h2>
  <span style="font-size: small">16th of March 2007</span>
  <hr align="left" style="padding: 0; margin: 0; width: 20em;"/>
  <p>
A&amp;D Mercury are pleased to announce the release of two new products,
the SJ-HS Bench Scale and the BCS Bariatric Chair Scale.
</p>
<p>
The SJ-HS is a further addition to our Value Weighing Products category which appeals to the cost sensitive customer who still requires quality performance.
ADM’s personal and healthcare range is further enhanced by the addition of the purpose bulit Bariatric Chair Scale.
Please read on for a brief description of each and click on the link to be directed to the viewing page for further information.
  </p>
  <h3><a href="web.php?p=1329&amp;pp=1391">SJ-HS</a></h3>
  <p>
    A low cost Bench Scale, the SJ-HS is ideally suited to any basic weighing application. Featuring capacities up to 12 kg and a settling time of less than  1 second the SJ-HS will meet all product packing requirements. An ideal courtesy or prepack scale, the unit can be powered by an ac adaptor or DC batteries.
  </p>
  <h3><a href="web.php?p=1330&amp;pp=1390">BCS Bariatric Chair Scale</a></h3>
  <p>
    A high capacity, large access chair scale designed and manufactured specifically for bariatric patient use. Capable of weighing to 500 kg while still be ergonomically designed to assist nursing staff. Provides a patient weighing capability not previously available.
  </p>
  <p>
  The A&amp;D Team
  </p>
</fieldset>
<br/>
