<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">Fantastic New Products Released</h2>
  <span style="font-size: small">31st March 2008</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <p>
  The year 2008 promises to be a great year for the release of exciting new products produced by both A&D Company in Japan and the innovative team members here at A&D Mercury in Australia. Please read on for the first of many this year:
  </p>
  <h3>The FX-i WP Precision Top Pan Balance</h3>
  <p>
  The arrival of the FXi-WP signals a new era for A&D Mercury where we can now offer a precision top loading balance with laboratory level performance suitable for use in hostile environments.
  An IP-65 rating ensures the FXi-WP will be at home in areas previously thought to be out of bounds for a precision top pan.
  </p>
  <p>
  Using a system of sealing gaskets and membranes the unit can be used “out of the box” without the need for additional enclosures which have traditonally added considerable expense to the location of balances in this type of environment.
  Containing all of the operating features that have become so popular in the standard FX-i , the WP version provides a best weighing increment of 1mg and high speed settling time brought about by the revolutionary  A&D SHS (Super Hybrid Sensor). 
  </p>
  <p>
  Check out the <a href="{url}web.php?p=1014&m=bro&c=Balances&b=FXi-WP.pdf&pc=1120">FX-i WP Precision Top Pan Balance brochure.</a>
  </p>
  <h3>The SV-A Vibro Viscometer</h3>
  <p>
  The SV-A is the latest addition to the family of revolutionary Sine Wave Vibro Viscometers. The SV-10 and SV-100 have introduced a ground breaking new discipline to the viscometry market with their ease of operation, high accuracy and fast testing times.
The SV-A has been added to the range to address applications where the sample is so precious that the absolute minimum must be used for a viscosity measurement. 
The vibro method can now be used to assess the viscosity of samples as small as 2ml (SV-1A) while still retaining the 1% repeatability that has become synonomous with the other SV models.
  </p>
  <p>
  Featuring measurement ranges of 1000mPa/sec (cP) and 10,000 mPa/sec (cP) the SV-1A and SV-10A are perfect devices for use in R&D applications where maximum traceability is required as is highlighted with the tri-directional measurement platform.
  The SV-A has a host of optional accessories which allow the viscometer to be customised for particular application.
  </p>
  <p>
  As is standard with SV Series units the software program WinCT Viscosity is supplied as standard while the SV-A includes a new feature of a standard Serial/USB allowing direct connection to PC via the USB port.
  Talk to your A&D Mercury representative now about organising your first demonstration.
  </p>
  <p>
  Download the <a href="{url}web.php?p=1014&m=bro&c=Measurement&b=SV-A.pdf&pc=1704">SV-A Vibro Viscometer Brochure now!</a>
  </p>
  <p>
  The A&D Mercury Team
  </p>
</fieldset>
<br/>
