<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">Christmas Greetings</h2>
  <span style="font-size: small">17th December 2007</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <p>
    The year has flown by once again and we find ourselves poised for the Christmas and New Year break.
    We hope the year has provided you with success and enjoyment and that you look toward 2008 with great expectation.
  </p>
  <p>
    A&D Mercury has had another great year and we would like to thank you for your continued patronage.
    We will be closed for the break from Thursday the 20th of December, returning for the new year on the 7th of January 2008.
  </p>
  <p>
    A&D Mercury would like to extend the full compliments of the season to all of it’s customers and hope that they enjoy a peaceful and safe holiday period.
  </p>
  <p>
    <b>See you in 2008!</b>
  </p>
  <table cellspacing="0" cellpadding="0">
    <tr width="100%">
      <td width="241"><img src="{url}{img}present.jpg" style="margin: 0 46px 0 46px;" /></td>
      <td width="241"><img src="{url}{img}xmas_tree.jpg" style="margin: 0 30px 0 30px;"/></td>
      <td width="241"><img src="{url}{img}sleigh.jpg" style="margin: 0 41px 0 41px;"/></td>
    </tr>
  </table>
</fieldset>
<br/>