<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">Custom Product Installation</h2>
  <span style="font-size: small">14th November 2007</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <p>
  A&amp;D Mercury are proud to announce the installation and commissioning of a custom built data aquisition and management system to a fruit producer in New South Wales.
The system called for multiple operators to be logged on and identified when working at any one of 60 packing locations, within the factory, with the weight of the items that they have packed to be recorded as the basis for their payment. 
  </p>
  <p>
    One of the principal issues at hand was the ease with numerous operators could be logged on to the system quickly and efficiently at the commencement of a shift but also to retain a high degree of flexibility for operators to be deployed to different locations throughout the shift.
    This was achieved with the design and production of a small printed circuit board that could be installed on board the EW-12Ki balances, that were used for this installation, which contained a <span style="font-weight: bold;">Radio Frequency Identification (RFID)</span> reader antenna and circuitry.
  </p>
  <p>
    This reader could then record the unique RFID codes of the respective operators that were contained on a small fob that was issued to them.
    This allowed the operator to log on and off of the system by simply passing their unique fob across a small reader area in the balance or work station that they were currently working at, this allowed the operator to move freely from task to task, within the factory, simply by logging on and off using the fob.
  </p>
  <p>
    <img style="margin-left:20px; margin-right: auto;" src="{url}{img}CP_RFID_EW_Simple.jpg" witdh="696" height="290"/>
  </p>
  <p>
    Once all operators were logged onto the system the next issue to be overcome was the management of up to 60 locational inputs into one central location while still retaining the individual identities of the respective operators.
    This was overcome with a network of serial hubs, that made up a <span style="font-weight: bold;">Local Area Network (LAN)</span>, receiving the data from the workstations and by using a system of <span style="font-weight: bold;">IP (Internet Protocol)</span> addresses conveying the information to the central computer location via an ethernet connection.
  </p>
  <p>
    The vitally important issue of tracking packer throughput was overcome with a tailored software solution provided by A&amp;D Mercury entitled <span style="font-weight: bold;">Multi Weigher</span>.
    This fully customised software solution handled all of the operator log ons and locations as well as keeping a unique real time file of the operators work output both by work location and by product.
  </p>
  <p>
    At the completion of shift the work data is available in a concise reporting format again by operator, location and product.
    The Multi Weigher management software is easily expanded to allow for the addition of further work stations and personnel, this was highlighted with the integration of an existing checkweigher on site into the system to allow for the recording of the weight data from this source also.
  </p>
  <p>
    This particular installation called on all of the ingenuity and design expertise available at A&amp;D Mercury and serves as a sound reminder that no job is beyond our capability.
  </p>
  <p>
    Consider A&amp;D Mercury when you are next faced with a complex data management and recording application.
  </p>
  <p>
    <span style="font-weight: bold;">At A&amp;D Mercury we strive for ......Excellence in Measurement</span>
  </p>  
</fieldset>
<br/>
