<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">Victorian Bushfires</h2>
  <span style="font-size: small">16th February 2009</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <p>
    Like all other Australians, and those around the world, our staff were horrified at the devastation brought about by the horrendous bushfires in Victoria on Black Saturday.
  </p>
  <p>
    We would like extend our condolences to those who have suffered loss, and our best wishes and support to those who face a huge challenge in rebuilding the lives they had prior to this terrible event.
   </p>
   <p>
    A&D Mercury have made a substantial contribution to the Red Cross Bushfire Appeal and we would encourage all of our business associates to consider the same course of action, although we suspect many will already have taken this step.
  </p>
</fieldset>
<br/>
