<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">AD-4532B Testing Indicator</h2>
  <span style="font-size: small">20th February 2009</span>
  <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
  <img src="{prod_img_path}indicators/IN-AD-4532B.jpg" width="250" height="250" alt="AD-4532B Testing Indicator" title="AD-4532B Testing Indicator" style="float: right;"/>
  <p>
    The fantastic, new, testing application indicator, the AD-4532B is now in stock and readily available.
  </p>
  <p>
    This unit which features super fast weighing updates (2000 times per second), a variety of testing functions such a peak hold and a host of interfacing options is perfect as a highly portable module for field testing applications in particular.
  </p>
  <p>
    A compact size of 96mm x 96 mm, makes the AD-4532B ideal for panel mounting particularly into a field test style control case.
    Multi coloured displays let you know exactly how the test measurement is performing with a green display indicating the test is within your stated parameters whilst a red display indicates the test is not meeting your targets.
  </p>
    A simple to follow, display layout lets you know exactly the status of your test or measurement.
    Given the super speed update and peak hold functions the display is perfect for breaking strain and repetitive force applications.
  </p>
  <p>
    Find all the details on our <a href="{url}web.php?p=1425&pp=1487&pcat=indicators">product feature page.</a>  
  </p>
</fieldset>
<br/>
