<fieldset class="news_item">
    <div class="top">
        <a class="top" href="#top">Top</a>
    </div>
    <h2 style="padding-bottom: 0; margin-bottom: 0;">Exciting New Product Release - The EJ Compact Balance</h2>
    <span style="font-size: small">4th September 2009</span>
    <hr align="left" style="padding: 0; margin: 0 0 1em 0; width: 20em;"/>
		<img src="{url}{prod_img_path}balances/CB-EJ.jpg" alt="EJ Compact Balance" style="float:right; padding-left: 1em;"/>
    <p>
        A&amp;D Australia are pleased to announce the release of the highly anticipated EJ Compact Balance Series.
    </p>
    <p>
        The EJ Compact Balance provides a host of features in a compact package outperforming competitors from a much higher price bracket. A&amp;D's quality is immediately evident as you explore this great little unit which is perfect for applications where portability or easy storage are paramount.
        The balance can be customised to display multiple weighing units, as well as a counting and percentage facility, by simply operating the mode key.
    </p>
    <p>
        The EJ also contains a breakthorough in it's class by offering a Density Determination calculation mode which is used in conjunction withthe optional Density Determination Kit.
        A modular style design means fitting optional extras such as the breeze break and the density determination kit is a simple "slide on-slide off" task.
    </p>
    <p>
        Battery operation can be achieved by inserting 4 x AA batteries into the simple to access battery capsule.
        A charge indicator in the balance display ensures you know exactly what battery charge you have left.
    </p>
    <p>
        This product is a real winner so take the time to <a href="{url}web.php?p=1121&pp=1188&pcat=balances">visit the product page and read more about the EJ and also download the brochure</a> for this exciting new unit.
    </p>
</fieldset>
<br/>
