<fieldset class="news_item">
  <div class="top"><a class="top" href="#top">Top</a></div>
  <h2 style="padding-bottom: 0; margin-bottom: 0;">FG Series Trade Approval</h2>
  <span style="font-size: small">12th July 2006</span>
  <hr align="left" style="padding: 0; margin: 0; width: 20em;"/>
  <p>
  The FG Platform Scale is now Trade Approved with certificate number: 6/9C/289
  </p>
  <p>
  We have 3 approved capacities with your choice of Floor or Bench Mount and a range of Base sizes. AS a result all FG units ordered from now on will include the N.M.I. approval labels and will be ready for <a href="http://web.andmercury.local/web/web.php?p=1008">Certification</a>.
  </p>
  <p>
  Available capacities:
    <ul>
      <li>150kg x 0.05kg</li>
      <li>60kg x 0.02kg</li>
      <li>30kg x 0.01kg</li>
    </ul>
  </p>
</fieldset>
<br/>
